{% macro appendHiddenFields(data) %}
  {% set excludedFields = caller() | fieldNames %}
  {{ hiddenFields(data, excludedFields) }}
  {{ caller() }}
{% endmacro %}

{% macro hiddenFields(dataObject, excludedFields, parentPath) %}
  {% for name, valueOrArray in dataObject %}
    {% set path = (parentPath + "[" + name + "]") if parentPath else name %}
    {% if not (path | matchesAnyField(excludedFields)) %}
      {% for value in (valueOrArray | castArray) %}
        {% if (value | isObject) %}
          {{ hiddenFields(value, excludedFields, path) }}
        {% else %}
          <input type="hidden" name="{{ path }}" value="{{ value }}">
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endfor %}
{% endmacro %}
