{% include "./ga-head.njk" %}
<link href="{{ css_path }}" media="screen" rel="stylesheet" type="text/css"/>
<link href="{{ css_path }}" media="print" rel="stylesheet" type="text/css"/>
<style>
  body.js-enabled .js-hide {
    display: none !important;
  }
  body:not(.js-enabled) .js-show {
    display: none !important;
  }
</style>
