<link href="{{ css_path }}" media="screen" rel="stylesheet" type="text/css" />
<style>
  .js-enabled .js-hide {
    display: none;
  }
</style>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ GOOGLE_ANALYTICS_ID }}"></script>
<script>
  if ("{{ GOOGLE_ANALYTICS_ID}}") {
    window.dataLayer = window.dataLayer || []
    function gtag () {
      dataLayer.push(arguments)
    }
    gtag("js", new Date())

    gtag("config", "{{ GOOGLE_ANALYTICS_ID }}", {
      custom_map: {
        "dimension1": "birth_or_adoption"
      }
    })
  }
</script>
