{% from "./field-textbox.njk" import fieldTextbox %}
{% from "./field-ninr.njk" import fieldNINR %}
{% from "./field-date.njk" import fieldDate %}
{% from "./field-address.njk" import fieldAddress %}

{% macro input(options) %}
  <div class="input row">
    <div class="column" style="width: 27px">
      <div class="number-box">
        {{ options.number }}
      </div>
    </div>
    <div class="column" style="width: calc(100% - 27px)">
      <p> {{ options.text }} </p>

      {% switch options.type %}
        {% case "TEXT" %}
          {{ fieldTextbox() }}
        {% case "NINR" %}
          {{ fieldNINR() }}
        {% case "ADDR" %}
          {{ fieldAddress() }}
        {% case "DATE" %}
          {{ fieldDate() }}
      {% endswitch %}

    </div>
  </div>
{% endmacro %}