{% from "fieldset/macro.njk" import govukFieldset %}

{% macro leaveAndPayCheckboxes(data, parent) %}
  {% set minWeek = data | primaryMinimumWeek %}
  {% set maxWeek = 52 %}
  {% set zeroWeekDate = (data | startDay | startOfWeek) %}
  {% set isBirth = (data | isBirth) %}
  {% set isAdoption = (data | isAdoption) %}
  {% set weekZeroName = "placement" if isAdoption else "birth" %}
  <div class="govuk-form-group">
    {% call govukFieldset({
      legend: {
        html: "<h3 class=\"govuk-heading-m govuk-!-margin-0\">" + (data | parentName(parent) | capitalize) + "</h3>",
        classes: "govuk-fieldset__legend--m"
      }
    }) %}
      <div id="calendar-checkboxes" class="govuk-checkboxes" data-module="checkboxes">
        <div class="govuk-checkboxes" data-module="checkboxes">
          {% for i in range(minWeek, maxWeek + 1) %}
            {% set compulsoryLeave = (parent === 'primary' and (i === 0 or i === 1)) %}
            {% set outOfRange = (parent === 'secondary' and i < 0) %}
            {% set leaveId = parent + '-leave_' + i %}
            {% set leaveName = parent + '[leave]' %}
            {% set payId = parent + '-pay_' + i %}
            {% set payName = parent + '[pay]' %}
            {% set date = (zeroWeekDate | offsetWeeks(i)) %}
            {% if (i === minWeek) or ((date | formatDate("D") | int) <= 7) %}
              <h4 class="govuk-heading-s govuk-!-padding-1 background-grey">
                {{ date | formatDate("MMMM YYYY") }}
              </h4>
            {% endif %}
            {% set legend %}
              <strong>
                {{ date | formatDate("D MMMM") }}
              </strong>
              {% if (i === 0) %}
                ({{ weekZeroName | capitalise }} week)
              {% else %}
                ({{ i | abs }} week{{ "s" if (i | abs) !== 1 }} {{ "before" if i < 0 else "after" }} {{ weekZeroName }})
              {% endif %}
            {% endset %}
            {% call govukFieldset({
              legend: {
                html: legend | safe,
                classes: "govuk-fieldset__legend--s govuk-!-font-weight-regular"
              }
            }) %}
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="{{ leaveId }}" name="{{ leaveName }}" type="checkbox" value="{{ i }}"
                  data-parent="{{ parent }}" data-property="leave"
                  {{ 'checked' if (data | isWeekChecked(parent, 'leave', i)) }}
                  {{ 'disabled' if (compulsoryLeave or outOfRange) }}>
                <label class="govuk-label govuk-checkboxes__label" for="{{ leaveId }}">
                  Taking leave
                </label>
              </div>
              {# We use the styling of conditionally revealed checkboxes, but have removed the actual conditional reveal. #}
              <div class="govuk-checkboxes__conditional">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="{{ payId }}" name="{{ payName }}" type="checkbox" value="{{ i }}"
                    data-parent="{{ parent }}" data-property="pay"
                    {{ 'checked' if (data | isWeekChecked(parent, 'pay', i)) }}
                    {{ 'disabled' if outOfRange }}>
                  <label class="govuk-label govuk-checkboxes__label" for="{{ payId }}">
                    Paid
                  </label>
                </div>
              </div>
            {% endcall %}
          {% endfor %}
        </div>
      </div>
    {% endcall %}
  </div>
{% endmacro %}

{% macro calendar(data) %}
  <div class="govuk-grid-row js-hide">
    <div class="govuk-grid-column-one-half">
      {{ leaveAndPayCheckboxes(data, "primary") }}
      {# Compulsory leave weeks are disabled checkboxes, so we need to include the values manually. #}
      <input type="hidden" name="primary[leave]" value="0" />
      <input type="hidden" name="primary[leave]" value="1" />
    </div>
    <div class="govuk-grid-column-one-half">
      {{ leaveAndPayCheckboxes(data, "secondary") }}
    </div>
  </div>
  <div id="planner">
    {# JavaScript enhanced calendar component. See /app/assets/javascripts/planner.js and associated Vue components. #}
  </div>
{% endmacro %}
