{% from "inset-text/macro.njk" import govukInsetText %}

{% macro fileDownload(options) %}
  {% set ga_fileDownloadedAttributes = options.attributes.ga_fileDownloaded | htmlAttributesFromObject %}
  {% set noticeDescription %}
    {# TODO fix the href of this link #}
    <p>This form has been prefilled with your chosen leave dates. If you prefer you can <a href="#" {{ ga_fileDownloadedAttributes | safe }}>download a blank version</a>.
  {% endset %}
  {% set body %}
    <div class="document-card-container govuk-body govuk-!-margin-bottom-2" {{ ga_fileDownloadedAttributes | safe }}>
      <a class="document" href="{{ options.href }}" {{ ga_fileDownloadedAttributes | safe }}>
        <img alt="PDF document" src="./images/document-placeholder.png"/>
      </a>
      <div class="document-card-details">
        <a href="{{ options.href }}" class="govuk-body-l" {{ ga_fileDownloadedAttributes | safe }}>
          {{ options.name }}
        </a>
        <p class="govuk-body-xs">
          {{ options.fileInfo }}
        </p>
        {{ options.details.html | safe }}
      </div>
    </div>
    {{ noticeDescription | safe }}
  {% endset %}

  {{ govukInsetText({
    html: body
  }) }}
{% endmacro %}