{% from "inset-text/macro.njk" import govukInsetText %}

{% macro fileDownload(options) %}
  {% set body %}
    {{ options.description.html | safe }}
    <div class="document-card-container">
      <a class="document" href="{{ options.href }}">
        <img alt="PDF document" src="./images/document-placeholder.png"/>
      </a>
      <div class="document-card-details">
        <a href="{{ options.href }}" class="govuk-body-l">
          {{ options.name }}
        </a>
        <p class="govuk-body-xs">
          {{ options.fileInfo }}
        </p>
        {{ options.details.html | safe }}
      </div>
    </div>
  {% endset %}

  {{ govukInsetText({
    html: body
  }) }}
{% endmacro %}