{% from "summary-list/macro.njk" import govukSummaryList %}

{% macro leaveBlockSummary(options) %}
  {{ govukSummaryList({
    classes: "summary-block-print-margin",
    rows: [
      {
        key: {
          text: options.name + " starts"
        },
        value: {
          text: "week starting " + options.data | startDay | startOfWeek | offsetWeeks(options.block[0].start) | formatForDisplay
        },
        actions: {
          items: [
            {
              href: "/planner",
              text: "Change",
              visuallyHiddenText: "maternity leave start date"
            }
          ]
        }
      },
      {
        key: {
          text: options.name + " ends"
        },
        value: {
          text: "week ending " + options.data | startDay | startOfWeek | offsetWeeks(options.block[0].end) | endOfWeek | formatForDisplay
        },
        actions: {
          items: [
            {
              href: "/planner",
              text: "Change",
              visuallyHiddenText: "maternity leave end date"
            }
          ]
        }
      },
      {
        key: {
          text: "Length"
        },
        value: {
          text: options.block[0] | blockLength | weeks
        }
      },
      {
        key: {
          text: "Notify employers"
        },
        value: {
          html: "by " + (options.notify.date | formatForDisplay) + ("*" if options.notify.asterisk) + "<br>" +
            "(" + options.notify.explanation + ")"
        }
      }
    ]
  }) }}
{% endmacro %}
