{% from './file-download.njk' import fileDownload %}

{% macro primaryNotice(options) %}
  {% set data = options.data %}
  {% if data | shouldDisplayPrimaryLeaveAndPayForm %}
    {{ fileDownload({
      name: (data | primaryName | capitalize) + "’s shared parental leave and pay notice form",
      href: "/forms/declaration.pdf?state=" + (data | primaryLeaveType) + "&parent=primary",
      description: {
        html: noticeDescription
      },
      details: {
        html: noticeDetails
      },
      attributes: {
        ga_fileDownloaded: {
            "data-ga-hit-type": "primary_notice_clicked",
            "data-ga-field-event_category": "summary",
            "data-ga-field-event_action": "primary_notice_clicked"
        }
      }
    }) }}
  {% elif data | shouldDisplayPrimaryCurtailmentForm %}
    {# TODO fix the href of this fileDownload #}
    {{ fileDownload({
      name: data | primaryLeaveType | capitalise + " curtailment and SPL consent form",
      href:"#",
      attributes: {
        ga_fileDownloaded: {
          "data-ga-hit-type": "primary_notice_clicked",
          "data-ga-field-event_category": "summary",
          "data-ga-field-event_action": "primary_notice_clicked"
        }
      }
    }) }}
  {% endif %}
{% endmacro %}