{% from "select/macro.njk" import govukSelect %}
{% from "hmcts-currency-input/macro.njk" import hmctsCurrencyInput %}

{% macro salaryInput(options) %}
  {% set salaryPeriodId = options.parent + "[salary-period]" %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      {{ hmctsCurrencyInput({
        id: options.parent + "-salary-amount",
        name: options.parent + "[salary-amount]",
        classes: "govuk-input--width-20 salary-value-input",
        label: {
          text: options.labelText
        },
        pattern: "[0-9]+(\.[0-9]{1,2})?",
        errorMessage: options.amountError if options.amountError,
        attributes: {
          autocomplete: "off",
          title: "Salary must be an amount of money like 23000 or 139.45"
        },
        value: options.data[options.parent]["salary-amount"]
      }) }}
    </div>

    <div class="govuk-grid-column-one-half">
      {{ govukSelect({
        id: options.parent + "-salary-period",
        name: options.parent + "[salary-period]",
        label: {
          text: "Per"
        },
        errorMessage: {
          text: options.periodError
        } if options.periodError,
        items: [
          {
            value: "year",
            text: "Year",
            selected: options.data[options.parent]["salary-period"] === "year"
          },
          {
            value: "month",
            text: "Month",
            selected: options.data[options.parent]["salary-period"] === "month"
          },
          {
            value: "week",
            text: "Week",
            selected: options.data[options.parent]["salary-period"] === "week"
          }
        ]
      }) }}
    </div>
  </div>
{% endmacro %}