{% from "inset-text/macro.njk" import govukInsetText %}
{% from "./file-download.njk" import fileDownload %}

{% macro secondaryNotice(options) %}
  {% set data = options.data %}
  {% if data | shouldDisplaySecondaryLeaveAndPayForm %}
    {{ fileDownload({
      name: data | secondaryName | capitalize + "’s Shared Parental Leave and Pay notice form",
      href: "/forms/" + ("SPL_FatherOrPartner_Birth.pdf" if data | primaryLeaveType == "maternity" else "SPL_Primary_Adopters_Partner.pdf"),
      description: {
        html: noticeDescription
      },
      details: {
        html: noticeDetails
      },
      attributes: {
        ga_fileDownloaded: {
          "data-ga-hit-type": "secondary_notice_clicked",
          "data-ga-field-event_category": "summary",
          "data-ga-field-event_action": "secondary_notice_clicked"
        }
      }
    }) }}
  {% endif %}
{% endmacro %}