{% from "button/macro.njk" import govukButton %}

{% macro summaryTabFooter(options) %}

<div id="{{ options.shareLinkId }}">
  {# JavaScript enhanced share link component. See /app/assets/javascripts/summary.js and associated Vue components. #}
</div>
<h3 class="govuk-heading-m">Print your summary</h3>
<p>
  Save or print this summary as a PDF by selecting the PDF option in the 'Print this summary' view.
</p>
  {{ govukButton({
    text: "Print this summary",
    type: "button",
    classes: "print-hide",
    attributes: {
      onClick: "window.print()",
      "data-ga-hit-type": "print_summary",
      "data-ga-field-event_category": "summary",
      "data-ga-field-event_action": "print_page"
    }
  }) }}

{% endmacro %}
