{% from "back-link/macro.njk" import govukBackLink %}
{% from "table/macro.njk" import govukTable %}

{% extends "layout.njk" %}

{% block beforeContent %}
{{ super() }}

{{ govukBackLink({
text: "Back",
href: withData(referrer)
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-xl">
      Cookie Preferences
    </h1>
  </div>
</div>
{% endblock %}
