{% from "summary-list/macro.njk" import govukSummaryList %}

{% macro answersSoFar (data) %}
  {% set primaryLeaveType = (data | primaryLeaveType) %}
  {% set leaveBlocks = data["leave-blocks"] %}

  {% macro date(data, weekNumber) %}
    {% set zeroWeek = (data | zeroWeek) %}
    {% if weekNumber %}
      {{ "Week commencing " + zeroWeek | offsetWeeks(weekNumber) | formatForDisplay }}
    {% endif %}
  {% endmacro %}

  {% macro dateEnd(data, weekNumber) %}
    {% set zeroWeek = (data | zeroWeek) %}
    {% if weekNumber %}
      {{ "Week ending " + zeroWeek | offsetWeeks(weekNumber) | endOfWeek | formatForDisplay }}
    {% endif %}
  {% endmacro %}

  <h2 class="govuk-heading-m">
    Your answers so far
  </h2>
<p>
  Leave{{ leaveBlocks["secondary"]["initial"][0].start }}
    Leave{{ leaveBlocks["secondary"]["initial"][1].start }}
</p>

  {{ govukSummaryList({
    rows: [
      {
        key: {
          text: (primaryLeaveType | capitalize) + " Leave start"
        },
        value: {
          text: date(data, leaveBlocks["primary"]["initial"]["start"])
        },
        actions: {
          items: [
            {
              href: "/planner/" + primaryLeaveType + "-leave/start",
              text: "Change",
              visuallyHiddenText: (primaryLeaveType | capitalize) + " Leave start"
            }
          ]
        }
      },
      {
        key: {
          text: (primaryLeaveType | capitalize) + " Leave end"
        },
        value: {
          text: dateEnd(data, leaveBlocks["primary"]["initial"]["end"])
        },
        actions: {
          items: [
            {
              href: "/planner/" + primaryLeaveType + "-leave/end",
              text: "Change",
              visuallyHiddenText: (primaryLeaveType | capitalize) + " Leave end"
            }
          ]
        }
      },
      {
        key: {
          text: "Taking Paternity Leave"
        },
        value: {
          text: leaveBlocks["secondary"]["is-taking-paternity-leave"] | capitalize
        },
        actions: {
          items: [
            {
              href: "/planner/paternity-leave",
              text: "Change",
              visuallyHiddenText: "Paternity Leave start"
            }
          ]
        }
      },
      {
        key: {
          text: "Paternity Leave start (week 1)"
        },
        value: {
          text: date(data, leaveBlocks["secondary"]["initial"][0]["start"])
        },
        actions: {
          items: [
            {
              href: "/planner/paternity-leave/start",
              text: "Change",
              visuallyHiddenText: "Paternity Leave start"
            }
          ]
        }
      },
      {
        key: {
          text: "Paternity Leave start (week 2)"
        },
        value: {
          text: date(data, leaveBlocks["secondary"]["initial"][1]["start"])
        },
        actions: {
          items: [
            {
              href: "/planner/paternity-leave/start",
              text: "Change",
              visuallyHiddenText: "Paternity Leave start"
            }
          ]
        }
      }
    ] | appendSplAnswerRows(data, date, dateEnd) | removeRowsWithEmptyValues
  }) }}
{% endmacro %}
