// App specific sass should be written or imported here.
// Sass will be browserified via /common/assets/sass/application.scss and served from the /public folder.

@import "@hmcts/frontend/all";

@import './components/salary-input';
@import './components/get-help';
@import "file-download";
@import "print";

.background-grey {
  background-color: govuk-colour("light-grey");
}

.eligibility-heading {
  margin-bottom: 10px;
}

.govuk-tabs__title {
  font-weight: bold;
}

.cookie-banner {
  padding: 0px;
}

.govuk-tag{
  background-color: #bbd4ea;
  font-weight: 400;
  padding: 2px 8px 3px; 
  color: #0c2d4a;
  text-transform: none;
  margin-top: -2px;
  margin-bottom: -3px;
  overflow-wrap: break-word;
  letter-spacing: 0px;
  max-width: 160px;
}

@media (min-width: 40.0625em) {
  .govuk-tag {
      line-height: 1.25;
  }
}