// App specific sass should be written or imported here.
// Sass will be browserified via /common/assets/sass/application.scss and served from the /public folder.

@import "@hmcts/frontend/all";

@import './components/salary-input';
@import './components/get-help';
@import "file-download";
@import "print";

.background-grey {
  background-color: govuk-colour("light-grey");
}

.eligibility-heading {
  margin-bottom: 10px;
}

.govuk-tabs__title {
  font-weight: bold;
}
