{
  "include": [
    "app/**/*.js",
    "common/**/*.js",
    "server.js"
      ],
  "exclude": [
    "app/assets/images",
    "app/assets/sass",
    "app/assets/javascripts",
    "app/forms",
    "common/assets"
  ],
  "reporter": [
    "lcov",
    "text",
    "html"
  ],
  "report-dir": "./coverage",
  "temp-dir": "./coverage/.nyc_output",
  "all": true
}
