{% from "back-link/macro.njk" import govukBackLink %}
{% from "button/macro.njk" import govukButton %}
{% from "fieldset/macro.njk" import govukFieldset %}
{% from "hidden-fields/macro.njk" import appendHiddenFields %}
{% from "radios/macro.njk" import govukRadios %}
{% from "error-summary/macro.njk" import govukErrorSummary %}
{% from "macro.njk" import pushToGoogleAnalyticsDataLayer %}

{% from "./answers-so-far/macro.njk" import answersSoFar %}

{% extends "layout.njk" %}

{% block pageTitle -%}
  {{ "Will the partner take any Paternity Leave?" | pageTitle }}
{%- endblock %}

{% block beforeContent %}
  {{ super() }}

  {{ govukBackLink({
    text: "Back",
    href: backPath()
  }) }}
{% endblock %}

{% set birthOrPlacement = "placement" if data | isAdoption else "birth" %}
{% set remainingLeaveAllowance = (data["leave-blocks"] | remainingLeaveAllowance) %}

{% block content %}
  {% if errors["is-taking-paternity-leave"] %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        errors["is-taking-paternity-leave"]
      ]
    }) }}
  {{ pushToGoogleAnalyticsDataLayer("error_msg", errors["is-taking-paternity-leave"].text, "Errorshown") }}
  {% endif %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form method="POST">
        {% call appendHiddenFields(data) %}
          {% set hint %}
            <p class="govuk-hint">
              The partner can take up to 2 weeks of Paternity Leave during the first 8 weeks after {{ birthOrPlacement }}.
              The leave must be taken in one go.
            </p>
            {% if (remainingLeaveAllowance > 0) %}
              <p class="govuk-hint">
                The Paternity Leave allowance is separate from the Shared Parental Leave allowance.
                The partner’s Shared Parental Leave can be planned later.
              </p>
            {% endif %}
            <p class="govuk-hint">
              Your previous answers are at the bottom of the page.
            </p>
          {% endset %}
          {{ govukRadios({
            idPrefix: "is-taking-paternity-leave",
            name: "leave-blocks[secondary][is-taking-paternity-leave]",
            fieldset: {
              legend: {
                text: "Will the partner take any Paternity Leave?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              html: hint
            },
            errorMessage: {
              text: errors["is-taking-paternity-leave"].text
            } if errors["is-taking-paternity-leave"],
            items: [
              {
                value: "yes",
                text: "Yes, the partner will take Paternity Leave",
                checked: data["leave-blocks"]["secondary"]["is-taking-paternity-leave"] | isYes
              },
              {
                value: "no",
                text: "No, the partner will not take Paternity Leave",
                checked: data["leave-blocks"]["secondary"]["is-taking-paternity-leave"] | isNo
              }
            ]
          }) }}
        {% endcall %}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
    <div class="govuk-grid-column-two-thirds-from-desktop">
      {{ answersSoFar(data) }}
    </div>
  </div>
{% endblock %}
