{% from "back-link/macro.njk" import govukBackLink %}
{% from "button/macro.njk" import govukButton %}
{% from "fieldset/macro.njk" import govukFieldset %}
{% from "hidden-fields/macro.njk" import appendHiddenFields %}
{% from "select/macro.njk" import govukSelect %}

{% from "./answers-so-far/macro.njk" import answersSoFar %}

{% extends "layout.njk" %}

{% block pageTitle -%}
  {{ "Which week will be the partner’s first week of Paternity Leave?" | pageTitle }}
{%- endblock %}

{% block beforeContent %}
  {{ super() }}

  {{ govukBackLink({
    text: "Back",
    href: backPath()
  }) }}
{% endblock %}

{% set primaryName = (data | primaryName) %}
{% set primaryLeaveType = (data | primaryLeaveType) %}
{% set zeroWeek = (data | zeroWeek) %}
{% set isAdoption = (data | isAdoption) %}
{% set birthOrPlacement= (data | birthOrPlacement) %}
{% set primaryLeaveEnd = data["leave-blocks"]["primary"]["initial"]["end"] | float %}

{% set options = range(primaryLeaveEnd + 1) %}

{% macro optionText(weekNumber) %}
  {% if (weekNumber === 0) %}
    The {{ birthOrPlacement }} week
  {% elif (weekNumber === 1) %}
    The week following {{ birthOrPlacement }}
  {% else %}
    {{ weekNumber | weeks }} after {{ birthOrPlacement }}
  {% endif %}
{% endmacro %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form method="POST">
        {% call appendHiddenFields(data) %}
            {{ govukSelect({
              id: "primary-leave-start",
              name: "leave-blocks[secondary][initial][start]",
              label: {
                text: "When will the first week of Paternity Leave start?",
                classes: "govuk-label--l",
                isPageHeading: true
              },
              items: options | mapValuesToSelectOptions(optionText)
            }) }}
            {{ govukSelect({
              id: "primary-leave-start",
              name: "leave-blocks[secondary][initial][start]",
              label: {
                text: "When will the second week of Paternity Leave start?",
                classes: "govuk-label--l",
                isPageHeading: true
              },
              items: options | mapValuesToSelectOptions(optionText)
            }) }}
            <input type="hidden" name="leave-blocks[secondary][initial][leave]" value="paternity">
        {% endcall %}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
    <div class="govuk-grid-column-two-thirds-from-desktop">
      {{ answersSoFar(data) }}
    </div>
  </div>
{% endblock %}
