{% from "back-link/macro.njk" import govukBackLink %}
{% from "button/macro.njk" import govukButton %}
{% from "fieldset/macro.njk" import govukFieldset %}
{% from "hidden-fields/macro.njk" import appendHiddenFields %}
{% from "radios/macro.njk" import govukRadios %}
{% from "select/macro.njk" import govukSelect %}

{% from "./answers-so-far/macro.njk" import answersSoFar %}

{% extends "layout.njk" %}

{% block pageTitle -%}
  {{ "How many weeks of Paternity Leave will the partner take?" | pageTitle }}
{%- endblock %}

{% block beforeContent %}
  {{ super () }}

  {{ govukBackLink({
    text: "Back",
    href: backPath()
  }) }}
{% endblock %}

{% set isOverseasAdoption = (data | isOverseasAdoption) %}
{% set zeroWeek = (data | zeroWeek) %}
{% set firstWeekOfLeave = (data["leave-blocks"]["secondary"]["initial"]["start"] | int) %}
{% set options = range(firstWeekOfLeave, firstWeekOfLeave + 2 if firstWeekOfLeave < 7 else 8) %}

{% macro optionText(weekNumber) %}
  {% set totalWeeks = weekNumber - firstWeekOfLeave + 1 %}
  {{ totalWeeks | weeks }} of leave
{% endmacro %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form method="POST">
        {% call appendHiddenFields(data) %}
            {{ govukSelect({
              id: "primary-leave-end",
              name: "leave-blocks[secondary][initial][end]",
              label: {
                text: "How many weeks of Paternity Leave will the partner take?",
                classes: "govuk-label--l",
                isPageHeading: true
              },
              items: options | mapValuesToSelectOptions(optionText)
            }) }}
        {% endcall %}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
    <div class="govuk-grid-column-two-thirds-from-desktop">
      {{ answersSoFar(data) }}
    </div>
  </div>
{% endblock %}
