{% from "back-link/macro.njk" import govukBackLink %}
{% from "button/macro.njk" import govukButton %}
{% from "fieldset/macro.njk" import govukFieldset %}
{% from "hidden-fields/macro.njk" import appendHiddenFields %}
{% from "select/macro.njk" import govukSelect %}

{% extends "layout.njk" %}

{% block pageTitle -%}
  {{ "Which week will be the " + (data | primaryName) + "’s first week of " + (data | primaryLeaveType) + " leave?" | pageTitle }}
{%- endblock %}

{% block beforeContent %}
  {{ super() }}

  {{ govukBackLink({
    text: "Back",
    href: backPath()
  }) }}
{% endblock %}

{% set primaryName = (data | primaryName) %}
{% set primaryLeaveType = (data | primaryLeaveType) %}
{% set zeroWeek = (data | zeroWeek) %}
{% set isBirth = (data | isBirth) %}
{% set isAdoption = (data | isAdoption) %}
{% set isSurrogacy = (data | isSurrogacy) %}
{% set birthOrPlacement= (data | birthOrPlacement) %}

{% set minWeek = data | earliestPrimaryLeaveWeek %}
{% set options = range(0, minWeek - 1, -1) %}

{% macro optionText(weekNumber) %}
  {{ zeroWeek | offsetWeeks(weekNumber) | formatForDisplay }}
  {% if weekNumber === 0 %}
    (the {{ birthOrPlacement }} week)
  {% else %}
    ({{ weekNumber | abs | weeks }} before {{ birthOrPlacement }})
  {% endif %}
{% endmacro %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form method="POST">
        {% call appendHiddenFields(data) %}
          {% set hint %}
            <p class="govuk-hint">
              {{ primaryLeaveType | capitalize }} Leave can start
              {% if isSurrogacy %}
                from the week the baby is born
              {% else %}
                up to {{ (options | last) | abs }} weeks before
                {{ "the first week the child lives with you" if isAdoption else "the baby is born"  }}
              {% endif %}.
            </p>
          {% endset %}
          {% call govukFieldset({
            legend: {
              text: "Which week was or will be the " + primaryName + "’s first week of " + (primaryLeaveType | capitalize) + " Leave?",
              classes: "govuk-fieldset__legend--xl",
              isPageHeading: true
            }
          })%}
            {{ govukSelect({
              id: "primary-leave-start",
              name: "leave-blocks[primary][initial][start]",
              hint: {
                html: hint
              },
              items: options | mapValuesToSelectOptions(optionText)
            }) }}
            <input type="hidden" name="leave-blocks[primary][initial][leave]" value="{{ primaryLeaveType }}">
          {% endcall %}
        {% endcall %}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
