{% from "back-link/macro.njk" import govukBackLink %}
{% from "button/macro.njk" import govukButton %}
{% from "fieldset/macro.njk" import govukFieldset %}
{% from "hidden-fields/macro.njk" import appendHiddenFields %}
{% from "select/macro.njk" import govukSelect %}

{% from "./answers-so-far/macro.njk" import answersSoFar %}

{% extends "layout.njk" %}

{% block pageTitle -%}
  {{ "Which week will be the " + parentName + "’s first week of Shared Parental Leave in this block? (" + parentName + " block " + (index + 1) +")" | pageTitle }}
{%- endblock %}

{% block beforeContent %}
  {{ super() }}

  {{ govukBackLink({
    text: "Back",
    href: backPath()
  }) }}
{% endblock %}

{% set parent = (data | splBlockPlanningOrder | last) %}
{% set index = (data["leave-blocks"][parent]["spl"] | length) - 1 %}

{% set parentName = (data | parentName(parent)) %}
{% set zeroWeek = (data | zeroWeek) %}
{% set isBirth = (data | isBirth) %}
{% set birthOrPlacement = "birth" if isBirth else "placement" %}
{% set hasTakenSpl = (data["leave-blocks"] | hasTakenSpl(parent)) %}
{% set initialLeaveType = (data | parentInitialLeaveType(parent)) %}

{% set endOfInitialLeave = (data["leave-blocks"][parent]["initial"]["end"] | int) %}
{% set endOfLastSplBlock = (data["leave-blocks"][parent]["spl"]["_" + (index - 1)]["end"] | int) %}
{% set endOfLastBlock = endOfLastSplBlock or endOfInitialLeave or -1 %}
{% set options = range(endOfLastBlock + 1, 52) %}

{% macro optionText(weekNumber) %}
  {{ zeroWeek | offsetWeeks(weekNumber) | formatForDisplay }}
  {% if endOfLastBlock === -1 %}
    {% if weekNumber === 0 %}
      (the {{ birthOrPlacement }} week)
    {% else %}
      ({{ weekNumber | weeks }} after {{ birthOrPlacement }})
    {% endif %}
  {% else %}
    ({{ (weekNumber - endOfLastBlock) | weeks }} after the {{ parentName }}’s {{ "previous leave block" if hasTakenSpl else ((initialLeaveType | capitalize) + " Leave") }})
  {% endif %}
{% endmacro %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form method="POST">
        {% call appendHiddenFields(data) %}
          {% set hint %}
            <p class="govuk-hint">
              {% if endOfLastBlock === -1 %}
                The {{ parentName }} has not yet taken any leave.
              {% else %}
                The {{ parentName }}’s
                {% if hasTakenSpl %}
                  last block of Shared Parental Leave
                {% else %}
                  {{ initialLeaveType | capitalize }} Leave
                {% endif %}
                ended with the week of {{ zeroWeek | offsetWeeks(endOfLastBlock) | formatForDisplay }}.
              {% endif %}
            </p>
            <p class="govuk-hint">
              Your previous answers are at the bottom of the page.
            </p>
          {% endset %}
            {{ govukSelect({
              id: "shared-parental-leave-start",
              name: "leave-blocks[" + parent + "][spl][_" + index + "][start]",
              hint: {
                html: hint
              },
              label: {
                text: "Which week will be the " + parentName + "’s first week of Shared Parental Leave in this block?",
                classes: "govuk-label--xl",
                isPageHeading: true
              },
              items: options | mapValuesToSelectOptions(optionText)
            }) }}
        {% endcall %}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
    <div class="govuk-grid-column-two-thirds-from-desktop">
      {{ answersSoFar(data) }}
    </div>
  </div>
{% endblock %}
