{% from "back-link/macro.njk" import govukBackLink %}
{% from "button/macro.njk" import govukButton %}
{% from "fieldset/macro.njk" import govukFieldset %}
{% from "hidden-fields/macro.njk" import appendHiddenFields %}
{% from "select/macro.njk" import govukSelect %}

{% from "./answers-so-far/macro.njk" import answersSoFar %}

{% extends "layout.njk" %}

{% block pageTitle -%}
  {{ "Which will be the " + parentName + "’s last week of Shared Parental Leave in this block (" + parentName + " block " + (index + 1) +")"  | pageTitle }}
{%- endblock %}

{% block beforeContent %}
  {{ super() }}

  {{ govukBackLink({
    text: "Back",
    href: backPath()
  }) }}
{% endblock %}

{% set parent = (data | splBlockPlanningOrder | last) %}
{% set index = (data["leave-blocks"][parent]["spl"] | length) - 1 %}

{% set parentName = (data | parentName(parent)) %}
{% set zeroWeek = (data | zeroWeek) %}
{% set remainingLeaveAllowance = (data["leave-blocks"] | remainingLeaveAllowance) %}

{% set firstWeekOfLeave = (data["leave-blocks"][parent]["spl"]["_" + index]["start"] | int) %}
{% set maxWeek = 52 if (firstWeekOfLeave + remainingLeaveAllowance > 52) else (firstWeekOfLeave + remainingLeaveAllowance)  %}
{% set options = range(firstWeekOfLeave, maxWeek) %}

{% macro optionText(weekNumber) %}
  {{ zeroWeek | offsetWeeks(weekNumber) | endOfWeek | formatForDisplay }}
{% endmacro %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form method="POST">
        {% call appendHiddenFields(data) %}
          {% set hint %}
            <p class="govuk-hint">
              The first week in this block of leave is the week starting {{ zeroWeek | offsetWeeks(firstWeekOfLeave) | formatForDisplay }}.
            </p>
          {% endset %}
            {{ govukSelect({
              id: "shared-parental-leave-end",
              name: "leave-blocks[" + parent + "][spl][_" + index + "][end]",
              hint: {
                html: hint
              },
              label: {
                text: "Which will be the " + parentName + "’s last week of Shared Parental Leave in this block?",
                classes: "govuk-label--l",
                isPageHeading: true
              },
              items: options | mapValuesToSelectOptions(optionText)
            }) }}
        {% endcall %}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
    <div class="govuk-grid-column-two-thirds-from-desktop">
      {{ answersSoFar(data) }}
    </div>
  </div>
{% endblock %}
