{% from "back-link/macro.njk" import govukBackLink %}
{% from "button/macro.njk" import govukButton %}
{% from "fieldset/macro.njk" import govukFieldset %}
{% from "hidden-fields/macro.njk" import appendHiddenFields %}
{% from "radios/macro.njk" import govukRadios %}
{% from "error-summary/macro.njk" import govukErrorSummary %}
{% from "macro.njk" import pushToGoogleAnalyticsDataLayer %}

{% from "./answers-so-far/macro.njk" import answersSoFar %}

{% extends "layout.njk" %}

{% block beforeContent %}
  {{ super() }}

  {{ govukBackLink({
    text: "Back",
    href: backPath()
  }) }}
{% endblock %}

{% set primaryName = (data | primaryName) %}
{% set primaryLeaveType = (data | primaryLeaveType) %}
{% set leaveBlocks = data["leave-blocks"] %}
{% set remainingLeaveAllowance = (leaveBlocks | remainingLeaveAllowance) %}
{% set remainingPayAllowance = (leaveBlocks | remainingPayAllowance) %}
{% set eitherParentHasTakenSpl = (leaveBlocks | hasTakenSpl("primary")) or (leaveBlocks | hasTakenSpl("secondary")) %}

{% block pageTitle -%}
  {{ "Do you want to plan " + ("another" if eitherParentHasTakenSpl else "a") + " block of Shared Parental Leave?" | pageTitle }}
{%- endblock %}

{% block content %}
  {% if errors["shared-parental-leave"] %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        errors["shared-parental-leave"]
      ]
    }) }}
  {{ pushToGoogleAnalyticsDataLayer("error_msg", errors["shared-parental-leave"].text, "Errorshown") }}
  {% endif %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form method="POST">
        {% call appendHiddenFields(data) %}
          {% set hint %}
            <p class="govuk-hint">
              You have {{ remainingLeaveAllowance | weeks }} of unused
              {% if eitherParentHasTakenSpl %}
                Shared Parental Leave left to take.
              {% else %}
                {{ primaryLeaveType | capitalize }} Leave that can be taken as Shared Parental Leave.
              {% endif %}
              For {{ remainingPayAllowance | weeks }} of these weeks, you'll receive shared parental pay.
            </p>
            <p class="govuk-hint">
              Shared Parental Leave can be taken by the {{ primaryName }} and the partner, either at the same
              time, or one after the other.
            </p>
            <p class="govuk-hint">
              You can plan more blocks of Shared Parental Leave later, if you still have unused weeks remaining.
            </p>
          {% endset %}
          {{ govukRadios({
            idPrefix: "shared-parental-leave",
            name: "leave-blocks[is-taking-spl-or-done]",
            fieldset: {
              legend: {
                text: "Do you want to plan " + ("another" if eitherParentHasTakenSpl else "a") + " block of Shared Parental Leave?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              html: hint
            },
            errorMessage: {
              text: errors["shared-parental-leave"].text
            } if errors["shared-parental-leave"],
            items: [
              {
                value: "primary",
                text: "Yes, plan a block of Shared Parental Leave for the " + primaryName
              },
              {
                value: "secondary",
                text: "Yes, plan a block of Shared Parental Leave for the partner"
              },
              {
                value: "done",
                text: "No, do not plan any more leave"
              }
            ]
          }) }}
        {% endcall %}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
    <div class="govuk-grid-column-two-thirds-from-desktop">
      {{ answersSoFar(data) }}
    </div>
  </div>
{% endblock %}
