{% from "../layout/document.njk" import document %}
{% from "../layout/two-column-layout.njk" import twoColumnLayout %}
{% from "../layout/section-title.njk" import sectionTitle %}
{% from "../form-items/item-numbered-input.njk" import itemNumberedInput %}
{% from "../form-items/item-signature-with-date.njk" import itemSignatureWithDate %}
{% from "../form-items/item-checkbox.njk" import itemCheckbox %}
{% from "../input-fields/field-range.njk" import fieldRange %}
{% from "../input-fields/field-number.njk" import fieldNumber %}

{% macro declarationTemplate(options) %}

  {% if options.type == "primary" %}
    {% set data_primaryLeaveBlocks = options.leaveBlocks %}
    {% set data_primaryPayBlocks = options.sharedPayBlocks %}
  {% else %}
    {% set data_primaryLeaveBlocks = options.partnerLeaveBlocks %}
    {% set data_primaryPayBlocks = options.partnerSharedPayBlocks %}
  {% endif %}

  {% set data_startDate = options.data | startDay %}

  {% set data_leaveStart = options.data | startDay | startOfWeek | offsetWeeks(data_primaryLeaveBlocks.initial.start) %}
  {% set data_leaveEnd = options.data | startDay | startOfWeek | offsetWeeks(data_primaryLeaveBlocks.initial.end) | endOfWeek %}
  {% set data_leaveWeeksLeft = 52 - (data_primaryLeaveBlocks.initial.end - data_primaryLeaveBlocks.initial.start + 1) %}

  {% set data_noWeeksSPL = options.leaveBlocks.spl | countWeeks %}
  {% set data_noPartnerWeeksSPL = options.partnerLeaveBlocks.spl | countWeeks %}

  {% set data_payStart = options.data | startDay | startOfWeek | offsetWeeks(data_primaryPayBlocks.initial.start) %}
  {% set data_payEnd = options.data | startDay | startOfWeek | offsetWeeks(data_primaryPayBlocks.initial.end) | endOfWeek %}
  {% set data_payWeeksLeft = 39 - (data_primaryPayBlocks.initial.end - data_primaryPayBlocks.initial.start + 1) %}

  {% set data_noWeeksSSPP = options.sharedPayBlocks.shared | countWeeks %}
  {% set data_noPartnerWeeksSSPP = options.partnerSharedPayBlocks.shared | countWeeks %}

  {% set data_sharedLeaveWeeks = options.data | blocksToDates(options.leaveBlocks.spl) %}
  {% set data_sharedPayWeeks = options.data | blocksToDates(options.sharedPayBlocks.shared) %}

  {% set data_firstSPLStart = options.data | startDay | startOfWeek | offsetWeeks(options.leaveBlocks.spl[0].start) if options.leaveBlocks.spl.length > 0 %}
  {% set data_firstSPLEnd = options.data | startDay | startOfWeek | offsetWeeks(options.leaveBlocks.spl[0].end) | endOfWeek if options.leaveBlocks.spl.length > 0 %}

  {% set title %}
    <strong>{{ options.parent | capitalize }}’s</strong> notice and declaration of SPL
  {% endset %}

  {% set headertitle %}
    <strong>{{ options.parent | capitalize }}’s</strong> notices and declarations for Shared Parental Leave and Pay
  {% endset %}

  {% set page1 %}
    <img src="images/beis-logo.png" alt="BEIS logo" width="114">
    <h1>
      Instructions
    </h1>
    <p>
      These are the forms you need to complete to take Shared Parental Leave (SPL) and Statutory Shared
      Parental Pay (ShPP). If your employer has their own forms they can be used instead.
    </p>
    <p>
      There are {{options.sectionCount}} sections in this form. You must submit these forms to your employer at least 8 weeks before
      your Shared Parental Leave or Statutory Shared Parental Pay starts.
    </p>

    {% set cls = cycler(1,2,3,4,5) %}
    <p>{{cls.next()}}. {{options.parent | capitalize}}’s notice of entitlement and intention</p>
    {% if options.type == "primary" %}
      <p>{{cls.next()}}. {{options.parent | capitalize}}’s notice to curtail {{ options.state }} entitlement</p>
    {% endif %}
    <p>{{cls.next()}}. {{options.parent | capitalize}}’s declaration to employer</p>
    <p>{{cls.next()}}. {{options.otherParent | capitalize}}’s declaration to {{options.parent}}’s employer</p>
    <p>{{cls.next()}}. Period of leave notice</p>
    {% if options.type == "primary" %}
      <p><strong>If you are NOT taking Shared Parental Leave and Pay but your partner is, only fill out sections 2 and 3.</strong></p>
    {% endif %}

    {{ sectionTitle({text: "Section 1 of $count: $Parent’s notice of entitlement and intention" | formTemplate(options) }) }}
    <h3>About the family</h3>
    <h4 class="with-margin">You (the {{ "primary " if options.state == "adoption" and options.type == "primary" }}{{ options.parent }})</h4>

    {% set left %}
      {{ itemNumberedInput({ number: 1, type: "TEXT", text: "Surname", passdown: "" }) }}
      {{ itemNumberedInput({ number: 2, type: "TEXT", text: "First name(s)", passdown: "" }) }}
      {{ itemNumberedInput({ number: 3, type: "NINR", text: "National Insurance number", passdown: "" }) }}
      {{ itemNumberedInput({ number: 4, type: "ADDR", text: "Home address", passdown: "" }) }}
      <div class="with-left-border"><h4 class="with-margin">{{options.otherParent | capitalize}}</h4></div>
      {{ itemNumberedInput({ number: 5, type: "TEXT", text: "Surname", passdown: "" }) }}
      {% if options.state == "adoption" %}
        {{ itemNumberedInput({number: 6, type: "TEXT", text: "First name(s)", passdown: ""}) }}
      {% endif%}
    {% endset %}

    {% set right %}
      {% if options.state != "adoption" %}
        {{ itemNumberedInput({number: 6, type: "TEXT", text: "First name(s)", passdown: ""}) }}
      {% endif%}
      {{ itemNumberedInput({number: 7, type: "NINR", text: "National Insurance number", passdown: ""}) }}
      {{ itemNumberedInput({number: 8, type: "ADDR", text: "Home address", passdown: ""}) }}
      <div class="with-left-border"><h4 class="with-margin">Child</h4></div>
      {% if options.state == "maternity" %}
        {{ itemNumberedInput({number: 9, type: "DATE", text: "What is the child’s expected date of birth / actual date of birth? (Delete as appropriate.)", passdown: data_startDate}) }}
      {% else %}
        {{ itemNumberedInput({number: 9, type: "DATE", text: "When were you notified of a match with the child?", passdown: ""}) }}
        {{ itemNumberedInput({number: 10, type: "DATE", text: "When did, or when will the child begin to live with you? (Delete as appropriate)", passdown: data_startDate}) }}
        <div class="with-left-border"><p><strong>If you do not have a placement date, you must provide your employer with this information as soon as possible after the child’s placement and before you take any Shared Parental Leave or Pay.</strong></p></div>
      {% endif %}
    {% endset %}

    {{ twoColumnLayout({
      leftcolumn: left,
      rightcolumn: right
    }) }}
  {% endset %}

  {% set page2 %}
    {{ sectionTitle({text: "Section 1 of $count: $Parent’s notice of entitlement and intention" | formTemplate(options) }) }}

    {% if options.state == "adoption" %}
      <p><strong>Complete the sections relevant to you.</strong></p>
    {% endif %}

    {% set left %}
      <h4 class="with-margin">{{ "About the " + options.otherParent + "’s " if options.type == "secondary" }}{{ options.state | capitalize}} Leave</h4>
      {{ itemNumberedInput({ number: 10, type: "DATE", text: "Date $State Leave will start" | formTemplate(options), passdown: data_leaveStart }) }}
      {{ itemNumberedInput({ number: 11, type: "DATE", text: "Date $State Leave will end" | formTemplate(options), passdown: data_leaveEnd }) }}
      {{ itemNumberedInput({ number: 12, type: "NUMB", text: "Number of weeks of $State Leave left at the date $State Leave will end" | formTemplate(options), passdown: data_leaveWeeksLeft }) }}
      <div class="with-left-border"><h4 class="with-margin">Shared Parental Leave</h4></div>
      {{ itemNumberedInput({ number: 13, type: "NUMB", text: "Number of weeks of Shared Parental Leave available<sup>1</sup>", passdown: data_leaveWeeksLeft }) }}
      {{ itemNumberedInput({ number: 14, type: "NUMB", text: "Number of weeks of Shared Parental Leave $youintend to take (if any)" | formTemplate(options), passdown: data_noWeeksSPL }) }}
      {{ itemNumberedInput({ number: 15, type: "NUMB", text: "Number of weeks of Shared Parental Leave $partnerintends to take (if any)" | formTemplate(options), passdown: data_noPartnerWeeksSPL }) }}
    {% endset %}

    {% set right %}
      <h4 class="with-margin">{{ "About the " + options.otherParent + "’s " if options.type == "secondary" }}{{"Statutory $State Pay" | formTemplate(options) }}</h4>
      {{ itemNumberedInput({ number: 16, type: "DATE", text: "Date Statutory $State Pay will start" | formTemplate(options), passdown: data_payStart }) }}
      {{ itemNumberedInput({ number: 17, type: "DATE", text: "Date Statutory $State Pay will end" | formTemplate(options), passdown: data_payEnd }) }}
      {{ itemNumberedInput({ number: 18, type: "NUMB", text: "Number of weeks of Statutory $State Pay left at the date Statutory $State Pay will end" | formTemplate(options), passdown: data_payWeeksLeft }) }}
      <div class="with-left-border"><h4 class="with-margin">Statutory Shared Parental Pay</h4></div>
      {{ itemNumberedInput({ number: 19, type: "NUMB", text: "Number of weeks of Shared Parental Pay available<sup>2</sup>", passdown: data_payWeeksLeft }) }}
      {{ itemNumberedInput({ number: 20, type: "NUMB", text: "Number of weeks of Shared Parental Pay $youintend to take (if any)" | formTemplate(options), passdown: data_noWeeksSSPP }) }}
      {{ itemNumberedInput({ number: 21, type: "NUMB", text: "Number of weeks of Shared Parental Pay $partnerintends to take (if any)" | formTemplate(options), passdown: data_noPartnerWeeksSSPP }) }}
    {% endset %}

    {{ twoColumnLayout({
      leftcolumn: left,
      rightcolumn: right
    }) }}

    <div class="empty-line"></div>
    {% if options.state == "maternity" %}
    <p>
      <strong>1.</strong>
      This number is 52 minus the number of weeks of Maternity Leave or Statutory Maternity Pay or Maternity Allowance the Mother will have taken when their Maternity Leave, Statutory Maternity Pay or Maternity Allowance ends.
    </p>
    <p>
      <strong>2.</strong>
      This number is 39 minus the number of weeks of Statutory Maternity Pay the Mother will have taken at the date their Statutory Maternity Pay ends.
    </p>
    {% else %}
    <p>
      <strong>1.</strong>
      This number is 52 minus the number of weeks of Adoption Leave or Statutory Adoption Pay the Adopter will have taken when their Adoption Leave or Statutory Adoption Pay ends. '
    </p>
    <p>
      <strong>2.</strong>
      This number is 39 minus the number of weeks of Statutory Adoption Pay the Adopter will have taken at the date their Statutory Adoption Pay ends.
    </p>
    {% endif %}
  {% endset %}

  {% set page3 %}
    {{ sectionTitle({text: "Section 1 of $count: $Parent’s notice of entitlement and intention" | formTemplate(options) }) }}

    <p><strong>You are legally entitled to take up to 3 periods of Shared Parental Leave and Statutory Shared Parental Pay. Your employer will have to agree to any additional periods.</strong></p>
    <div class="empty-line"></div>

    <h4>Non-binding indication of when you plan to take Shared Parental Leave (SPL)</h4>
    {{ itemNumberedInput({
      number: 22,
      type: "RBLK",
      text: "At the date of this notice I intend to take Shared Parental Leave between the following dates:",
      passdown: {
        title: { start: "SPL start date", end: "SPL end date" },
        content: data_sharedLeaveWeeks
      } }) }}

    <div class="empty-line"></div>
    <h4>Non-binding indication of when you plan to take Statutory Shared Parental Pay (ShPP)</h4>
    {{ itemNumberedInput({
      number: 23,
      type: "RBLK",
      text: "At the date of this notice I intend to take Statutory Shared Parental Pay between the following dates:",
      passdown: {
        title: { start: "ShPP start date", end: "ShPP end date" },
        content: data_sharedPayWeeks
      } }) }}

    <div class="empty-line"></div>
    <div class="empty-line"></div>
    <p><strong>
      You’ll need to give your employer a Period of Leave Notice to ‘book’ each period of Shared Parental Leave that you intend to take. You can do this if your dates are final using the forms in Section 5.
    </strong></p>
  {% endset %}

  {% set page4 %}
    {{ sectionTitle({text: "Section 2 of $count: $Parent’s notice to curtail maternity entitlement" | formTemplate(options) }) }}

    <h4>Instructions</h4>
    <p>
      You should only complete this section if:<br/>
      {% if options.state == "maternity" %}
        • you are the child’s mother<br/>
      {% else %}
        • you are the child’s Adopter (i.e the adoptive parent who is eligible for Adoption Leave or Statutory Adoption pay)<br/>
      {% endif %}
      • you and / or your partner are eligible for Shared Parental Leave and or Statutory Shared Parental Pay<br/>
      • you are consenting to ending your {{ options.state | capitalize }} Leave  and / or Statutory {{ options.state | capitalize }} Pay early to enable you and / or your partner to take Shared Parental Leave and Statutory Shared Parental Pay
    </p>

    <div class="empty-line"></div>
    <div class="field-large">{{ itemNumberedInput({ number: 1, type: "TEXT", text: "$Parent’s name" | formTemplate(options), passdown: "" }) }}</div>
    <div class="with-left-border"><h4 class="with-margin">{{"$State Leave ($leaveabbr) curtailment notice:" | formTemplate(options) }}</h4></div>
    {{ itemNumberedInput({ number: 2, type: "DATE", text: "I would like my $leaveabbr to end on:" | formTemplate(options), passdown: data_leaveEnd }) }}
    <div class="with-left-border"><h4 class="with-margin">{{"Statutory $State Pay ($payabbr) curtailment notice:" | formTemplate(options) }}</h4></div>
    {{ itemNumberedInput({ number: 3, type: "DATE", text: "I would like my $payabbr to end on:" | formTemplate(options), passdown: data_payEnd }) }}

    <p>
      I have given notice of {{ "my/the father’s/partner’s" if options.state == "maternity" else "my partner’s" }} entitlement to and intention to take <br/>
      Shared Parental Leave and/or Statutory Shared Parental Pay  in the Notice of <br/>
      Entitlement and Intention.
    </p>

    <h4>Notice to employer:</h4>
    <p>
      Please accept this as my notice to curtail my {{options.state | capitalize}} Leave and/or my Statutory {{options.state | capitalize}} <br/>
      Pay. Notice of Entitlement and Intention to Shared Parental Leave and/or Statutory Shared <br/>
      Parental Pay is set out in Section 1 of this document.
    </p>
    <p>
      I understand that my {{options.state | capitalize}} Leave and/or Statutory {{options.state | capitalize}} Pay will end on the dates <br/>
      that I have given above.
    </p>
    <p>
      I understand that I can only reinstate my {{options.state | capitalize}} Leave or Statutory {{options.state | capitalize}} Pay if I <br/>
      revoke (withdraw) this notice before these dates.
    </p>
    <p>
      I confirm that the information provided in this notice is correct.
    </p>

    <h4>{{options.parent | capitalize}}’s signature</h4>
    {{ itemSignatureWithDate({passdown: ""}) }}
  {% endset %}

  {% set page5 %}
    {% if options.type == "primary" %}
      {{ sectionTitle({text: "Section 3 of $count: $Parent’s declaration to employer" | formTemplate(options) }) }}
    {% else %}
      {{ sectionTitle({text: "Section 2 of $count: $Parent’s declaration to employer" | formTemplate(options) }) }}
    {% endif %}

    <p>I am giving notice that I am entitled to and intend to take:</p>
    {{ itemCheckbox({text: "- Shared Parental Leave", passdown: "", noMargin: true}) }}
    {{ itemCheckbox({text: "- Statutory Shared Parental Pay", passdown: ""}) }}
    {% if options.type == "primary" %}
      {{ itemCheckbox({text: "I had or (will have) the main responsibility for the care of the child at the time of the child’s birth (along with the father/partner who has made the declaration in Section 4). ", passdown: ""}) }}
    {% else %}
      {{ itemCheckbox({text: "I am the $father and/or at the date of the child’s $event I was (or will be) the $other’s: spouse; civil partner; or a partner living with the $other and the child in an enduring family relationship." | formTemplate(options), passdown: ""}) }}
      {{ itemCheckbox({text: "I had or (will have) the main responsibility for the care of the child at the time of the child’s $event (along with the $other who has made the declaration in Section 3)." | formTemplate(options), passdown: ""}) }}
    {% endif %}
    {{ itemCheckbox({text: "I am eligible for and intend to take Shared Parental Leave", passdown: ""}) }}
    {{ itemCheckbox({text: "I am eligible for and intend to claim Statutory Shared Parental Pay.", passdown: ""}) }}
    {{ itemCheckbox({text: "I will be caring for my child during the weeks that I am on Shared Parental Leave. ", passdown: ""}) }}
    {{ itemCheckbox({text: "I will be caring for the child during the weeks in which I claim Statutory Shared Parental Pay.", passdown: ""}) }}
    {{ itemCheckbox({text: "I will provide additional evidence to my employer (on request) if my employer asks for this within 14 days of the date of this notice. ", passdown: ""}) }}
    {{ itemCheckbox({text: "I will immediately inform my employer if my circumstances change and I cease to care for my child.", passdown: ""}) }}
    {% if options.type == "primary" %}
      {{ itemCheckbox({text: "I will inform my employer immediately if I withdraw or change my ‘$State Leave Curtailment Notice’ and/or my ‘$State Pay Curtailment Notice’ (See Section 2)." | formTemplate(options), passdown: ""}) }}
    {% else %}
      {{ itemCheckbox({text: "I will immediately inform my employer if the $other withdraws or changes $her ‘$State Leave Curtailment Notice’ and/or $her ‘$State Pay Curtailment Notice’. " | formTemplate(options), passdown: ""}) }}
    {% endif %}
    {{ itemCheckbox({text: "I will immediately inform my employer if I cease to be eligible for Shared Parental Leave and/or Statutory Shared Parental Pay for some other reason.", passdown: ""}) }}
    {{ itemCheckbox({text: "I confirm that the information provided in my Notice of Entitlement and Intention (Section 1) and in the $Parent’s Declaration (this section) is correct." | formTemplate(options), passdown: ""}) }}


    {% if options.type == "primary" %}
      <p><strong>If you are not taking Shared Parental Leave or Pay:</strong></p>
      {{ itemCheckbox({text: "I am either not entitled to Shared Parental Leave (or Statutory Shared Parental Pay where relevant), or I do not intend to take Shared Parental Leave (or claim Statutory Shared Parental Pay where relevant)" | formTemplate(options), passdown: ""}) }}
      {{ itemCheckbox({text: "I declare that my partner has given notice to their employer to take Shared Parental Leave and/or Statutory Shared Parental Pay." | formTemplate(options), passdown: ""}) }}
      {{ itemCheckbox({text: "I consent to my partner’s intended claim for Shared Parental Leave and/or Statutory Shared Parental Pay." | formTemplate(options), passdown: ""}) }}
    {% endif %}

    <h4>{{ "$Parent’s signature" | formTemplate(options) }}</h4>
    {{ itemSignatureWithDate({passdown: ""}) }}
  {% endset %}

  {% set page6 %}
    {% if options.type == "primary" %}
      {{ sectionTitle({text: "Section 4 of $count: $Other’s declaration to $parent’s employer" | formTemplate(options) }) }}
    {% else %}
      {{ sectionTitle({text: "Section 3 of $count: $Other’s declaration to $parent’s employer" | formTemplate(options) }) }}
    {% endif %}

    {% if options.type == "primary" and options.state == "maternity" %}
      {{ itemCheckbox({text: "I had (or will have) the main responsibility for the care of the child at the time of the child’s birth (along with the child’s mother).", passdown: ""}) }}
      {{ itemCheckbox({text: "I am the father of the child and/or at the date of the child’s birth I was (or will be) the mother’s: spouse; civil partner; or a partner living with the mother and her child in an enduring family relationship.", passdown: ""}) }}
      {{ itemCheckbox({text: "I have read and comply with the conditions that apply to the father/partner where the mother is planning to take Shared Parental Leave and/or Statutory Shared Parental Pay.", passdown: ""}) }}
      {{ itemCheckbox({text: "I consent to the mother taking the period or periods of Shared Parental Leave and/or Statutory Shared Parental Pay  that she has indicated in Section 1.", passdown: ""}) }}
      {{ itemCheckbox({text: "I consent to the mother’s employer processing the information about me provided in the Mother’s Notice of Entitlement and Intention (see Section 1) and in the Father’s/Partner’s Declaration (see Section 3). ", passdown: ""}) }}
      {{ itemCheckbox({text: "I confirm that the information provided in the Father’s/Partner’s Declaration (this section) is correct.", passdown: ""}) }}
    {% elif options.type == "primary" and options.state == "adoption" %}
      {{ itemCheckbox({text: "I had (or will have) the main responsibility for the care of the child at the time of the child’s placement with the family (along with the Adopter who has made the declaration in Section 2).", passdown: ""}) }}
      {{ itemCheckbox({text: "I am the child’s other adoptive parent (the Adopter’s Partner) and at the date of the child’s placement for adoption I was (or will be) the Adopter’s: spouse; civil partner; or a partner living with the Adopter and the child in an enduring family relationship.", passdown: ""}) }}
      {{ itemCheckbox({text: "I have read and comply with the conditions that apply to the Adopter’s Partner where the Adopter is giving Notice of Entitlement and Intention to their employer.", passdown: ""}) }}
      {{ itemCheckbox({text: "I consent to the Adopter taking the period or periods of Shared Parental Leave and/or Statutory Shared Parental Pay (delete if not applicable) as indicated in Section 1.", passdown: ""}) }}
      {{ itemCheckbox({text: "I confirm that I am eligible for and plan to take the period or periods of Shared Parental Leave and/or Statutory Shared Parental Pay (delete if not applicable) as indicated in Section 1.", passdown: ""}) }}
      {{ itemCheckbox({text: "I confirm that the information provided in the ‘Notice of Entitlement and Intention’ and in the Adopter’s Partner’s Declaration is correct", passdown: ""}) }}
      {{ itemCheckbox({text: "I consent to the Adopter’s employer processing the information about me provided in the Adopter’s Notice of Entitlement and Intention (Section 1) and in the Adopter’s Partner’s Declaration (this section). ", passdown: ""}) }}
    {% elif options.type == "secondary" and options.state == "maternity" %}
      {{ itemCheckbox({text: "I had (or will have) the main responsibility for the care of the child at the time of the birth (along with the child’s father/my partner).", passdown: ""}) }}
      {{ itemCheckbox({text: "I am the mother of the child. ", passdown: ""}) }}
      {{ itemCheckbox({text: "The father/partner is the child’s father and/or at the date of the child’s birth is my spouse, civil partner; or a partner living with me in an enduring relationship.", passdown: ""}) }}
      {{ itemCheckbox({text: "I have read and comply with the conditions that apply to the mother where the father/partner is planning to take Shared Parental Leave and/or Statutory Shared Parental Pay.", passdown: ""}) }}
      {{ itemCheckbox({text: "I consent to the father/partner taking the period or periods of Shared Parental Leave and/or Statutory Shared Parental Pay indicated in the Father’s/Partner’s Notice of Entitlement and Intention (see Section 1). ", passdown: ""}) }}
      {{ itemCheckbox({text: "I will immediately inform the father/partner if I revoke (withdraw) my ‘Maternity Curtailment Notice’ and/or my ‘Maternity Pay Notice’. ", passdown: ""}) }}
      {{ itemCheckbox({text: "I consent to the father’s/partner’s employer processing the information about me provided in the Father’s/Partner’s Notice of Entitlement and Intention and in the Mother’s Declaration. ", passdown: ""}) }}
      {{ itemCheckbox({text: "I confirm that the information provided in the Mother’s Declaration is correct.", passdown: ""}) }}
    {% elif options.type == "secondary" and options.state == "adoption" %}
      {{ itemCheckbox({text: "I had (or will have) the main responsibility for the care of the child at the time of the child’s placement with the family (along with the Adopter’s Partner who has made the Declaration in Section 2).", passdown: ""}) }}
      {{ itemCheckbox({text: "I am the Adopter of the child.", passdown: ""}) }}
      {{ itemCheckbox({text: "The Adopter’s Partner is (or will be) my: spouse; civil partner; or a partner living with me and the child in an enduring family relationship at the date the child is placed with the family.", passdown: ""}) }}
      {{ itemCheckbox({text: "I have read and comply with the conditions that apply to the Adopter where the Adopter’s Partner is planning to take Shared Parental Leave (SPL) and/or Statutory Shared Parental Pay (ShPP).", passdown: ""}) }}
      {{ itemCheckbox({text: "I consent to the Adopter’s Partner taking the period or periods of SPL and/or ShPP (delete if not applicable) indicated in the Adopter’s Partner’s ‘Notice of Entitlement and Intention’ (Section 1). ", passdown: ""}) }}
      {{ itemCheckbox({text: "I will immediately inform the Adopter’s Partner if I revoke (withdraw) my ‘Adoption Leave Curtailment Notice’ and/or my ‘Adoption Pay Notice’. ", passdown: ""}) }}
      {{ itemCheckbox({text: "I consent to the Adopter’s Partner’s employer processing the information about me provided in Adopter’s Partner’s ‘Notice of Entitlement and Intention’ and in the Adopter’s Declaration. ", passdown: ""}) }}
      {{ itemCheckbox({text: "I confirm that the information provided in this ‘Notice of Entitlement and Intention’ and in the Adopter’s Declaration is correct.", passdown: ""}) }}
    {% endif %}

    <div class="empty-line"></div>
    <h4>{{ "$Other’s signature" | formTemplate(options) }}</h4>
    {{ itemSignatureWithDate({passdown: ""}) }}
  {% endset %}

  {% macro periodOfLeaveNotice(options, noticeIndex) %}
    {% set titleOfSection = "Section " + ("5" if options.type == "primary" else "4") + " of $count: Period of Leave Notice " + noticeIndex + " of 3" %}

    {{ sectionTitle({text: titleOfSection | formTemplate(options) }) }}

    <h4>Instructions</h4>
    <p>
      • When your Shared Parental Leave dates are final, you must give this Period of Leave notice to your employer to book one period of leave.<br/>
      • You can give your employer up to 3 Period of Leave Notices, or more if your employer allows.<br/>
      • The notice must be given to your employer at least 8 weeks before the start date of the period of Shared Parental Leave referred to in the notice.<br/>
      • Once booked you can change your dates, but you will have to give another notice that will count towards your limit of 3 notices.<br/>
    </p>

    <div class="empty-line"></div>
    <div class="empty-line"></div>
    <h4>Period of leave:</h4>
    {{ fieldRange({
      title: { start: "SPL start date", end: "SPL end date" },
      data: { start: data_firstSPLStart, end: data_firstSPLEnd }
    }) }}

    <div class="empty-line"></div>
    <p><strong>If you do not know your exact start and end dates, complete the sentence below:</strong></p>
    <p>I will take {{ fieldNumber() }} weeks of Shared Parental Leave. It will start {{ fieldNumber() }} weeks after {{ "my $State Leave ends" | formTemplate(options) if options.type == "primary" else ("my child’s expected week of birth" if options.state == "maternity" else "the child is placed with our family")}}.</p>

    <div class="empty-line"></div>
    <div class="empty-line"></div>
    <h4>Notice to employer:</h4>
    <p>
      <strong>Please accept this as a binding notice to take Shared Parental Leave on the dates or in the week specified above.</strong>
    </p>

    <div class="empty-line"></div>
    <div class="empty-line"></div>
    <h4>{{ "$Parent’s signature" | formTemplate(options) }}</h4>
    {{ itemSignatureWithDate({passdown: ""}) }}
  {% endmacro %}

  {% set page7 = periodOfLeaveNotice(options, 1) %}
  {% set page8 = periodOfLeaveNotice(options, 2) %}
  {% set page9 = periodOfLeaveNotice(options, 3) %}

  {{ document({
    parent: options.type,
    title: {
      html: title,
      headerhtml: headertitle
    },
    pages: [page1, page2, page3, page4, page5, page6, page7, page8, page9] if options.type == "primary" else [page1, page2, page3, page5, page6, page7, page8, page9]
  }) }}
{% endmacro %}