{% from "summary-list/macro.njk" import govukSummaryList %}
{% from "inset-text/macro.njk" import govukInsetText %}
{% from "../components/leave-block-summary.njk" import leaveBlockSummary %}
{% from "../components/paternity-leave-block-summary.njk" import paternityLeaveBlockSummary %}

{% set primaryLeaveType = (data | primaryLeaveType) %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l print-show">
    Leave summary
    </h1>
    <p>This summary shows your leave weeks and how you can apply to your employer.</p>
    <p>
        <strong>For the purpose of this planner, all leave weeks start on a Monday.</strong> You can choose a different day of the week to start your leave when you give notice to your employer.
    </p>

    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Placement date" if data | isAdoption else "Baby is due"
          },
          value: {
            text: data | startDay | formatForDisplay
          }
        }
      ]
    }) }}

    <h2 class="govuk-heading-l">
      {{ data | primaryName | capitalize }}’s leave dates
    </h2>
    <h3 class="govuk-heading-m">
      {{ primaryLeaveType | capitalize }} Leave
    </h3>

    {{ leaveBlockSummary({
      name: (primaryLeaveType | capitalize) + " Leave",
      block: leaveBlocks.primary.initial,
      data: data,
      notify: {
        date: data | startDay | startOfWeek | offsetWeeks(-15),
        explanation: "15 weeks before " + data | startDateName
      }
    }) }}

    {% if leaveBlocks.primary.spl.length > 0 %}
      <h3 class="govuk-heading-m">
        Shared Parental Leave ({{ data | primaryName }})
      </h3>
      {% for block in leaveBlocks.primary.spl %}
        {{ leaveBlockSummary({
          name: "Block " + loop.index,
          block: block,
          data: data,
          notify: {
            date: data | startDay | startOfWeek | offsetWeeks(block.start) | offsetWeeks(-8),
            explanation: "8 weeks before block starts",
            asterisk: false
          }
        }) }}
      {% endfor %}
    {% endif %}

    {% if leaveBlocks.secondary.initial or leaveBlocks.secondary.spl.length %}
      <h2 class="govuk-heading-l">
        {{ data | secondaryName | capitalize }}’s leave dates
      </h2>
      {% if leaveBlocks.secondary.initial %}
        <h3 class="govuk-heading-m">
          Paternity Leave
        </h3>

        {% if data | isAdoption %}
          <p>Paternity Leave can start at any point in the first year after the adoption of the child.</p>
        {% else %}
          <p>Paternity Leave can start at any point in the first year after the birth of the child.</p>
        {% endif %}

        {{ paternityLeaveBlockSummary({
          name: "Paternity Leave",
          block: leaveBlocks.secondary.initial,
          data: data,
          notify: {
            date: data | startDay | startOfWeek | offsetWeeks(-15),
            explanation: "15 weeks before due date"
          }
        }) }}
      {% endif %}

      {% if leaveBlocks.secondary.spl.length %}
        <h3 class="govuk-heading-m">
          Shared Parental Leave ({{ data | secondaryName }})
        </h3>
        {% for block in leaveBlocks.secondary.spl %}
          {{ leaveBlockSummary({
            name: "Block " + loop.index,
            block: block,
            data: data,
            notify: {
              date: data | startDay | startOfWeek | offsetWeeks(block.start) | offsetWeeks(-8),
              explanation: "8 weeks before block starts",
              asterisk: false
            }
          }) }}
        {% endfor %}
      {% endif %}
    {% endif %}

    {{ pushToGoogleAnalyticsDataLayer("primaryBlockleaves_count", 1, "primaryBlockleaves") }}

    {% set partnerInitialLeaveCount = 1 if leaveBlocks.secondary.initial else 0 %}
    {{ pushToGoogleAnalyticsDataLayer("partnerBlockleaves_count", partnerInitialLeaveCount, "partnersBlockleaves") }}

    {% set splLeaveCount = leaveBlocks.primary.spl.length + leaveBlocks.secondary.spl.length %}
    {{ pushToGoogleAnalyticsDataLayer("splBlockleaves_count", splLeaveCount, "splBlockleaves") }}

    {% set totalBlockCount = 1 + partnerInitialLeaveCount + splLeaveCount %}
    {{ pushToGoogleAnalyticsDataLayer("totalBlockleaves_count", totalBlockCount, "totalBlockleaves") }}
  </div>
</div>
