{% from "summary-list/macro.njk" import govukSummaryList %}
{% from "inset-text/macro.njk" import govukInsetText %}
{% from "warning-text/macro.njk" import govukWarningText %}
{% from "../components/leave-block-summary.njk" import leaveBlockSummary %}
{% from "../components/secondary-notice.njk" import secondaryNotice %}
{% from "../components/primary-notice.njk" import primaryNotice %}
{% from "../components/summary-tab-footer.njk" import summaryTabFooter %}


{% set noticeDescription %}
{# TODO fix the href of this link #}
  <p>This form has been prefilled with your chosen leave dates. If you prefer you can <a href="#">download a blank version</a>.
{% endset %}

{% set noticeDetails %}
{# TODO fix the href of this link #}
  <p>This file may not be suitable for users of assistive technology. <a href="#">Request an accesible format</a>.
{% endset %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-xl print-show">
    Leave summary
    </h1>
    <p>
      This is a summary of your leave plan.
      It shows your leave weeks, when you need to notify your employer and how you can apply.
    </p>
    <p>
      All start dates are on a Monday and end dates are a Sunday. You can choose a different day of the week to start your leave when you give notice.
    </p>

    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Placement date" if data | isAdoption else "Baby is due"
          },
          value: {
            text: data | startDay | formatForDisplay
          }
        }
      ]
    }) }}

    <h2 class="govuk-heading-l">
      {{ data | primaryName | capitalize }}’s leave dates
    </h2>
    <h3 class="govuk-heading-m">
      {{ data | primaryLeaveType | capitalize }} leave
    </h3>

    {{ leaveBlockSummary({
      name: data | primaryLeaveType | capitalize + " leave",
      block: leaveBlocks.primary.initial,
      data: data,
      notify: {
        date: data | startDay | startOfWeek | offsetWeeks(-15),
        explanation: "15 weeks before " + data | startDateName
      }
    }) }}

    <h4 class="govuk-heading-s">
      How to give notice
    </h4>
    <p>
      Tell your employer when the {{ "child will be placed with you" if data | isAdoption else "baby is due" }} and when you want to start your {{ data | primaryLeaveType }} leave.
      Your employer can ask for this in writing.
      Your employer must write to you within 28 days confirming your start and end dates.
    </p>

    {% if leaveBlocks.primary.spl | length === 0 and leaveBlocks.secondary.spl | length > 0 %}
      <h4 class="govuk-heading-s">
        Ending your {{ data | primaryLeaveType }} leave or pay
      </h4>
      <p>
        You must end your {{ data | primaryLeaveType }} leave or pay to create shared parental leave or pay.
        You can do this by returning to work or curtailing it (committing to end it before you return to work).
      </p>
      <p>
        You must also confirm that you’re not taking shared parental leave and pay and consent to your partner taking it.
      </p>
      <p>
        You can do all of this by submitting the {{ data | primaryLeaveType }} leave curtailment and shared parental leave consent form
        to your employer at least 8 weeks before your partner wants to start shared parental leave.
      </p>
      {{ primaryNotice ({
        data: data
      }) }}
    {% endif %}

    <h4 class="govuk-heading-s">
      Changing your plans
    </h4>
    <p>
      You must give 28 days’ notice to your employer if you want to change your {{ data | primaryLeaveType }} leave dates.
    </p>

    {% if leaveBlocks.primary.spl.length > 0 %}
      <h3 class="govuk-heading-m">
        Shared parental leave ({{ data | primaryName }})
      </h3>
      {% for block in leaveBlocks.primary.spl %}
        {{ leaveBlockSummary({
          name: "Block " + loop.index,
          block: block,
          data: data,
          notify: {
            date: data | startDay | startOfWeek | offsetWeeks(block.start) | offsetWeeks(-8),
            explanation: "8 weeks before block starts",
            asterisk: loop.length > 1
          }
        }) }}
      {% endfor %}
      {% if leaveBlocks.primary.spl.length > 1 %}
        <p>
          *You can notify your employer of multiple blocks of shared parental leave at the same time if your employer agrees.
        </p>
      {% endif %}

      <h4 class="govuk-heading-s">
        How to give notice
      </h4>
      <p>
        Complete the {{ data | primaryName }}’s shared parental leave and pay notice form and submit it to the {{ data | primaryName }}’s employer 8 weeks before the they want to start shared parental leave.
      </p>

      {{ primaryNotice ({
        data: data
      }) }}

      <h4 class="govuk-heading-s">
        Changing your plans
      </h4>
      <p>
        After you give notice you have two weeks to agree your shared parental leave dates with your employer.
      </p>
      <p>
        To change your dates after this you must give notice again 8 weeks before your first block of shared parental leave starts.
      </p>
    {% endif %}

    {% if leaveBlocks.secondary.initial or leaveBlocks.secondary.spl.length %}
      <h2 class="govuk-heading-l">
        {{ data | secondaryName | capitalize }}’s leave dates
      </h2>
      {% if leaveBlocks.secondary.initial %}
        <h3 class="govuk-heading-m">
          Paternity leave
        </h3>

        {{ leaveBlockSummary({
          name: "Paternity leave",
          block: leaveBlocks.secondary.initial,
          data: data,
          notify: {
            date: data | startDay | startOfWeek | offsetWeeks(-15),
            explanation: "15 weeks before due date"
          }
        }) }}

        <h4 class="govuk-heading-s">
          How to give notice
        </h4>
        <p>
          Use <a href="https://public-online.hmrc.gov.uk/lc/content/xfaforms/profiles/forms.html?contentRoot=repository:///Applications/PersonalTax_iForms/1.0/SC3&template=SC3.xdp" target="_blank">form SC3</a> to apply to your employer for statutory paternity pay (SPP) and leave.
        </p>

        <h4 class="govuk-heading-s">
          Changing your plans
        </h4>
        <p>
          You must give 28 days’ notice to your employer if you want to change your paternity leave dates.
        </p>
      {% endif %}

      {% if leaveBlocks.secondary.spl.length %}
        <h3 class="govuk-heading-m">
          Shared parental leave ({{ data | secondaryName }})
        </h3>
        {% for block in leaveBlocks.secondary.spl %}
          {{ leaveBlockSummary({
            name: "Block " + loop.index,
            block: block,
            data: data,
            notify: {
              date: data | startDay | startOfWeek | offsetWeeks(block.start) | offsetWeeks(-8),
              explanation: "8 weeks before block starts",
              asterisk: loop.length > 1
            }
          }) }}
        {% endfor %}
        {% if leaveBlocks.primary.spl.length > 1 %}
          <p>
            *You can notify your employer of multiple blocks of shared parental leave at the same time if your employer agrees.
          </p>
        {% endif %}

        <h4 class="govuk-heading-s">
          How to give notice
        </h4>
        <p>
          Complete the {{ data | secondaryName }}’s shared parental leave and pay notice form and submit it to the {{ data | secondaryName }}’s employer 8 weeks before they want to start shared parental leave.
        </p>

        {{ secondaryNotice ({
          data: data
        }) }}

        {% if leaveBlocks.primary.spl | length === 0 and leaveBlocks.secondary.spl | length > 0 %}
          {% set curtailmentWarningHtml %}
            The {{ data | primaryName }} must end their {{ data | primaryLeaveType }} leave and pay by returning to work or submitting a curtailment notice.
            They must also give consent for the partner to take shared parental leave or pay.
            They can do both by submitting the <a href={{"/forms/" + ("Maternity_Leave_Curtailment_SPL_Consent.pdf" if data | primaryLeaveType == "maternity" else "Adoption_Leave_Curtailment_SPL_Consent.pdf")}}>{{ data | primaryLeaveType | capitalize}} curtailment and SPL consent form</a>.
          {% endset %}
          {{ govukWarningText({
            html: curtailmentWarningHtml,
            iconFallBackText: "Warning"
          }) }}
        {% endif %}

        <h4 class="govuk-heading-s">
          Changing your plans
        </h4>
        <p>
          After you give notice you have two weeks to agree your shared parental leave dates with your employer.
        </p>
        <p>
          To change you dates after this you must give notice again 8 weeks before your first block of shared parental leave starts.
        </p>
      {% endif %}
    {% endif %}

    {{ summaryTabFooter({
      shareLinkId: 'leave-summary-share-link'
    }) }}
  </div>
</div>

