{% from "table/macro.njk" import govukTable %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l print-show">
      Pay summary
    </h1>
    <p>This summary shows the amount of statutory pay you could get while on leave. Your employers will confirm the exact amounts.</p>

    {% for block in payBlocks %}
      {% set weekCount %}
        {{-block | numberAsString}}
      {% endset %}

      {% set tableCaption %}
        {{ data | startDay | startOfWeek | offsetWeeks(block.start) | formatForDisplay }} to {{ data | startDay | endOfWeek | offsetWeeks(block.end) | formatForDisplay }} ({{weekCount}} weeks)
      {% endset %}

      {% set primaryPay %}
        {{ block["primary"] + " per week, for " + weekCount + " weeks" if block["primary"] else "Unpaid" }}
      {% endset %}

      {% set secondaryPay %}
        {{ block["secondary"] + " per week, for " + weekCount + " weeks" if block["secondary"] else "Unpaid" }}
      {% endset %}

      {{ govukTable({
        classes: "app-table--fixed summary-block-print-margin",
        caption: tableCaption,
        head: [
          {
            text: "Parent"
          },
          {
            text: "Statutory pay (indicative)",
            classes: "govuk-!-width-two-thirds"
          }
        ],
        rows: [
          [
            { text: data | primaryName | capitalize },
            { text: primaryPay }
          ],
          [
            { text: data | secondaryName | capitalize },
            { text: secondaryPay }
          ],
          [
            { html: "<strong>Total pay</br>before tax</strong>" },
            { html: "<strong>" + block | totalBlockPay + " per week, for " + weekCount + " weeks</strong>" }
          ] if data | displayPayBlockTotal
        ]
      }) }}
    {% endfor %}
  </div>
</div>

