{% macro fieldDate(options) %}
  <div class="field-date number-array">
    <table>
      <tr>
        <td>{{options[0]}}</td>
        <td>{{options[1]}}</td>
      </tr>
    </table>
    
    <table>
      <tr>
        <td>{{options[2]}}</td>
        <td>{{options[3]}}</td>
      </tr>
    </table>

    <table>
      <tr>
        <td>{{options[4]}}</td>
        <td>{{options[5]}}</td>
        <td>{{options[6]}}</td>
        <td>{{options[7]}}</td>
      </tr>
    </table>
  </div>
{% endmacro %}