{% macro fieldDate(options) %}
  <div class="field-date number-array">
    <table>
      <tr>
        <td></td>
        <td></td>
      </tr>
    </table>
    
    <table>
      <tr>
        <td></td>
        <td></td>
      </tr>
    </table>

    <table>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>
{% endmacro %}