{% macro fieldNINR(options) %}
  <div class="field-ninr number-array">
    <table>
      <tr>
        <td></td>
        <td></td>
      </tr>
    </table>
    <table>
      <tr>
        <td></td>
        <td></td>
      </tr>
    </table>
    <table>
      <tr>
        <td></td>
        <td></td>
      </tr>
    </table>
    <table>
      <tr>
        <td></td>
        <td></td>
      </tr>
    </table>
    <table>
      <tr>
        <td></td>
      </tr>
    </table>
  </div>
{% endmacro %}