{% macro fieldAddress(options) %}
  <div class="field-address">
    <input type="text" class="input-field"/>
    <input type="text" class="input-field"/>
    <input type="text" class="input-field"/>
    <input type="text" class="input-field"/>
    <input type="text" class="input-field"/>
  </div>
{% endmacro %}