{% from "summary-list/macro.njk" import govukSummaryList %}
{% from "../components/calendar.njk" import calendar %}

{% extends "layout.njk" %}

{% set isBirth = (exampleData | isBirth) %}
{% set primaryName = "mother" if isBirth else "adopter" %}
{% set primaryLeaveType = "maternity" if isBirth else "adoption" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-xl">
        Example of leave plans: {% block exampleTitle %}{% endblock %}
      </h1>
      <h2 class="govuk-heading-m">
        Background
      </h2>
      {% block background %}{% endblock %}
      <h2 class="govuk-heading-m">
        Leave plan
      </h2>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            {{ primaryName | capitalise }}’s leave and pay
          </dt>
          <dd class="govuk-summary-list__value">
            {% block primaryLeavePlan %}{% endblock %}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Partner’s leave and pay
          </dt>
          <dd class="govuk-summary-list__value">
            {% block secondaryLeavePlan %}{% endblock %}
          </dd>
        </div>
      </dl>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h2 class="govuk-heading-m">
        Example leave and pay plan
      </h2>
      <p>
        This is an example plan using a calendar.
        You can go back to the previous tab to plan your own leave and pay using a calendar or by answering questions.
      </p>
    </div>
  </div>
  {{ calendar(exampleData) }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <p>
        This example has opened in a new tab. To return to your own shared parental leave and pay plan, go to the previous tab.
      </p>
    </div>
  </div>
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  <script>
    window.planner.init({{ exampleData | dump | safe }}, false)
  </script>
{% endblock %}
