{% extends "./example.njk" %}

{% block pageTitle -%}
  {%- set bornOrPlaced = "placement" if exampleData | isAdoption else "birth" -%}
  {{ "Example of shared parental leave and pay plans" | pageTitle("Partner takes extended leave after " + bornOrPlaced) }}
{%- endblock %}

{% block exampleTitle %}
  Partner takes extended leave after {{ "placement" if isAdoption else "birth" }}
{% endblock %}

{% block background %}
  <p>
    A couple is {{ "adopting" if isAdoption else "having" }} their first child{{ " through surrogacy" if isSurrogacy }}.
    The partner plans to take 2 weeks of Paternity Leave but wants to extend this.
  </p>
  <p>
    The {{ primaryName }} planned to take a full 52 weeks of {{ primaryLeaveType | capitalize }} Leave but decides to reduce it by 4 weeks to
    create 4 weeks of Shared Parental Leave for her partner to take. The partner can now stay at home with the {{ primaryName }}
    and the child for a total of 6 weeks as soon as the child is {{ "placed" if isAdoption else "born" }}.
  </p>
{% endblock %}

{% block primaryLeavePlan %}
  48 weeks of {{ primaryLeaveType | capitalize }} Leave and 39 weeks of Statutory {{ primaryLeaveType | capitalize }} Pay.
{% endblock %}

{% block secondaryLeavePlan %}
  2 weeks of Paternity Leave and Statutory Paternity Pay and 4 weeks of Shared Parental Leave.
{% endblock %}
