{% extends "./example.njk" %}

{% block pageTitle -%}
{% set title %}Partner takes leave and {{ primaryName }} returns to work{% endset %}
{{ "Example of shared parental leave and pay plans" | pageTitle(title) }}
{%- endblock %}

{% block exampleTitle %}
  Partner takes leave and {{ primaryName }} returns to work
{% endblock %}

{% block background %}
  <p>
    {{ "A mother" if isBirth else ("An adopter" if isAdoption else "A surrogate parent") }} wants to return to work for a project in the middle of {{ primaryLeaveType | capitalize }} Leave.
    The {{ primaryName }} gives notice to end their {{ primaryLeaveType | capitalize }} Leave early to create Shared Parental Leave.
  </p>
  <p>
    The {{ primaryName }}’s partner takes 3 months of Shared Parental Leave and 1 month of Shared Parental Pay while the {{ primaryName }} goes to work.
    The {{ primaryName }} resumes their time at home with the child after the project is over and the partner has returned to work.
  </p>
  <p>
    They would like to take some leave together. The partner’s first month of Shared Parental Leave will overlap with the
    {{ primaryName }}’s last month of {{ primaryLeaveType | capitalize }} Leave.
  </p>
{% endblock %}

{% block primaryLeavePlan %}
  35 weeks of {{ primaryLeaveType | capitalize }} Leave and Statutory {{ primaryLeaveType | capitalize }} Pay, 4 weeks of unpaid Shared Parental Leave.
{% endblock %}

{% block secondaryLeavePlan %}
  2 weeks of Paternity Leave and Statutory Paternity Pay, 9 weeks of unpaid Shared Parental Leave and 4 weeks of Shared Parental Leave with Statutory Shared Parental Pay.
{% endblock %}
