{% extends "./example.njk" %}

{% block pageTitle -%}
  {{ "Example of shared parental leave and pay plans" | pageTitle("Managing parenting and work") }}
{%- endblock %}

{% block exampleTitle %}
  Managing parenting and work
{% endblock %}

{% block background %}
  <p>
    {{ "A mother" if isBirth else "An adopter" }} wants to return to work for a project in the middle of {{ primaryLeaveType }} leave.
    The {{ primaryName }} gives notice to end their {{ primaryLeaveType }} leave early to create shared parental leave.
  </p>
  <p>
    The {{ primaryName }}’s partner takes 3 months of shared parental leave and 1 month of shared parental pay while the {{ primaryName }} goes to work.
    The {{ primaryName }} resumes their time at home with the child after the project is over and the partner has returned to work.
  </p>
  <p>
    They would like to take some leave together. The partner’s first month of shared parental leave will overlap with the
    {{ primaryName }}’s last month of {{ primaryLeaveType }} leave.
  </p>
{% endblock %}

{% block primaryLeavePlan %}
  35 weeks of {{ primaryLeaveType }} leave and statutory {{ primaryLeaveType }} pay, 4 weeks of unpaid shared parental leave.
{% endblock %}

{% block secondaryLeavePlan %}
  2 weeks of paternity leave and statutory paternity pay, 9 weeks of unpaid shared parental leave and 4 weeks of shared parental leave with statutory shared parental pay.
{% endblock %}
