{% from "back-link/macro.njk" import govukBackLink %}
{% from "radios/macro.njk" import govukRadios %}
{% from "error-summary/macro.njk" import govukErrorSummary %}
{% from "hidden-fields/macro.njk" import appendHiddenFields %}
{% from "button/macro.njk" import govukButton %}
{% from "macro.njk" import pushToGoogleAnalyticsDataLayer %}
{% from "../components/get-help.njk" import getHelp %}

{% extends "layout.njk" %}

{% block pageTitle -%}
  {{ "Is the " + (data | secondaryName) + " eligible for Paternity Leave and Pay?" | pageTitle }}
{%- endblock %}

{% block beforeContent %}
  {{ super() }}

  {{ govukBackLink({
    text: "Back",
    href: backPath()
  }) }}
{% endblock %}

{% block content %}
  {% if errors["initial-leave-eligible"] or errors["initial-pay-eligible"] %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        errors["initial-leave-eligible"],
        errors["initial-pay-eligible"]
      ]
    }) }}
    {% if errors["initial-leave-eligible"] %}
      {{ pushToGoogleAnalyticsDataLayer("error_msg", errors["initial-leave-eligible"].text, "Errorshown") }}
    {% endif %}
    {% if errors["initial-pay-eligible"] %}
      {{ pushToGoogleAnalyticsDataLayer("error_msg", errors["initial-pay-eligible"].text, "Errorshown") }}
    {% endif %}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-l eligibility-heading">
        {{ data | secondaryName | capitalize }}’s leave and pay
      </h1>
      <p class="govuk-hint">
        If you’re not sure, <a href="https://www.gov.uk/pay-leave-for-parents">check if you can get leave and pay when you have a child</a>.
      </p>
      <form method="POST">
        {% call appendHiddenFields(data) %}
          {% if data["secondary"]["spl-eligible"] | isNo %}
            {{ govukRadios({
              classes: "govuk-radios--inline",
              idPrefix: "secondary-initial-leave-eligible",
              name: "secondary[initial-leave-eligible]",
              fieldset: {
                legend: {
                  text: "Is the " + data | secondaryName + " eligible for Paternity Leave?",
                  classes: "govuk-fieldset__legend--m"
                }
              },
              errorMessage: {
                text: errors["initial-leave-eligible"].text
              } if errors["initial-leave-eligible"],
              items: [
                {
                  value: "yes",
                  text: "Yes",
                  checked: data["secondary"]["initial-leave-eligible"] | isYes
                },
                {
                  value: "no",
                  text: "No",
                  checked: data["secondary"]["initial-leave-eligible"] | isNo
                }
              ]
            }) }}
          {% endif %}

          {% if data["secondary"]["shpp-eligible"] | isNo %}
            {{ govukRadios({
              classes: "govuk-radios--inline",
              idPrefix: "secondary-initial-pay-eligible",
              name: "secondary[initial-pay-eligible]",
              fieldset: {
                legend: {
                  text: "Is the " + data | secondaryName + " eligible for Statutory Paternity Pay?",
                  classes: "govuk-fieldset__legend--m"
                }
              },
              errorMessage: {
                text: errors["initial-pay-eligible"].text
              } if errors["initial-pay-eligible"],
              items: [
                {
                  value: "yes",
                  text: "Yes",
                  checked: data["secondary"]["initial-pay-eligible"] | isYes
                },
                {
                  value: "no",
                  text: "No",
                  checked: data["secondary"]["initial-pay-eligible"] | isNo
                }
              ]
            }) }}
          {% endif %}
        {% endcall %}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

      {{ getHelp() }}
    </div>
  </div>
{% endblock %}
