{% from "back-link/macro.njk" import govukBackLink %}
{% from "radios/macro.njk" import govukRadios %}
{% from "error-summary/macro.njk" import govukErrorSummary %}
{% from "hidden-fields/macro.njk" import appendHiddenFields %}

{% extends "layout.njk" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: backPath()
  }) }}
{% endblock %}

{% block content %}
  {% if errors['initial-leave-eligible'] or errors['initial-pay-eligible'] %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        errors['initial-leave-eligible'],
        errors['initial-pay-eligible']
      ]
    }) }}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{ data | secondaryName | capitalize }}’s leave and pay entitlements
      </h1>
      <form method="POST">
        {% call appendHiddenFields(data) %}
          {{ govukRadios({
            classes: "govuk-radios--inline",
            idPrefix: "secondary-initial-leave-eligible",
            name: "secondary[initial-leave-eligible]",
            fieldset: {
              legend: {
                text: "Is the " + data | secondaryName + " eligible for paternity leave?",
                classes: "govuk-fieldset__legend--m"
              }
            },
            errorMessage: {
              text: errors["initial-leave-eligible"].text
            } if errors["initial-leave-eligible"],
            items: [
              {
                value: "yes",
                text: "Yes",
                checked: data["secondary"]["initial-leave-eligible"] | isYes
              },
              {
                value: "no",
                text: "No",
                checked: data["secondary"]["initial-leave-eligible"] | isNo
              }
            ]
          }) }}

          {{ govukRadios({
            classes: "govuk-radios--inline",
            idPrefix: "secondary-initial-pay-eligible",
            name: "secondary[initial-pay-eligible]",
            fieldset: {
              legend: {
                text: "Is the " + data | secondaryName + " eligible for statutory paternity pay?",
                classes: "govuk-fieldset__legend--m"
              }
            },
            errorMessage: {
              text: errors["initial-pay-eligible"].text
            } if errors["initial-pay-eligible"],
            items: [
              {
                value: "yes",
                text: "Yes",
                checked: data["secondary"]["initial-pay-eligible"] | isYes
              },
              {
                value: "no",
                text: "No",
                checked: data["secondary"]["initial-pay-eligible"] | isNo
              }
            ]
          }) }}
        {% endcall %}
        <button type="submit" class="govuk-button">
          Continue
        </button>
      </form>
    </div>
  </div>
{% endblock %}
