{% from "back-link/macro.njk" import govukBackLink %}
{% from "radios/macro.njk" import govukRadios %}
{% from "error-summary/macro.njk" import govukErrorSummary %}
{% from "hidden-fields/macro.njk" import appendHiddenFields %}
{% from "button/macro.njk" import govukButton %}
{% from "macro.njk" import pushToGoogleAnalyticsDataLayer %}

{% extends "layout.njk" %}

{% block pageTitle -%}
  {{ "Is the " + (data | primaryName) + " eligible for " + (data | primaryLeaveType) + " leave and pay" | pageTitle }}
{%- endblock %}

{% block beforeContent %}
  {{ super() }}

  {{ govukBackLink({
    text: "Back",
    href: backPath()
  }) }}
{% endblock %}

{% block content %}
  {% if errors["initial-leave-eligible"] or errors["initial-pay-eligible"] %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        errors["initial-leave-eligible"],
        errors["initial-pay-eligible"]
      ]
    }) }}
    {% if errors["initial-leave-eligible"] %}
      {{ pushToGoogleAnalyticsDataLayer("error_msg", errors["initial-leave-eligible"].text, "Errorshown") }}
    {% endif %}
    {% if errors["initial-pay-eligible"] %}
      {{ pushToGoogleAnalyticsDataLayer("error_msg", errors["initial-pay-eligible"].text, "Errorshown") }}
    {% endif %}
  {% endif %}

  {% set primaryLeaveType = (data | primaryLeaveType) %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-l">
        {{ data | primaryName | capitalize }}’s leave and pay
      </h1>
      <form method="POST">
        {% call appendHiddenFields(data) %}
          {% if data["primary"]["spl-eligible"] | isNo %}
            {{ govukRadios({
              classes: "govuk-radios--inline",
              idPrefix: "primary-initial-leave-eligible",
              name: "primary[initial-leave-eligible]",
              fieldset: {
                legend: {
                  text: "Is the " + data | primaryName + " eligible for " + (primaryLeaveType | capitalize) + " Leave?",
                  classes: "govuk-fieldset__legend--m"
                }
              },
              errorMessage: {
                text: errors["initial-leave-eligible"].text
              } if errors["initial-leave-eligible"],
              items: [
                {
                  value: "yes",
                  text: "Yes",
                  checked: data["primary"]["initial-leave-eligible"] | isYes
                },
                {
                  value: "no",
                  text: "No",
                  checked: data["primary"]["initial-leave-eligible"] | isNo
                }
              ]
            }) }}
          {% endif %}

          {% if data["primary"]["shpp-eligible"] | isNo %}
            {% set hint %}
               <p class="govuk-hint">
                 If you’re not sure, <a href="https://www.gov.uk/pay-leave-for-parents">check if you can get leave and pay when you have a child</a>.
               </p>
            {% endset %}

            {{ govukRadios({
              classes: "govuk-radios--inline",
              idPrefix: "primary-initial-pay-eligible",
              name: "primary[initial-pay-eligible]",
              fieldset: {
                legend: {
                  text: "Is the " + data | primaryName + " eligible for Statutory " + (primaryLeaveType| capitalize)  + " Pay?",
                  classes: "govuk-fieldset__legend--m"
                }
              },
              errorMessage: {
                text: errors["initial-pay-eligible"].text
              } if errors["initial-pay-eligible"].text,
              hint: {
                html: hint
              },
              items: [
                {
                  value: "yes",
                  text: "Yes",
                  checked: data["primary"]["initial-pay-eligible"] | isYes
                },
                {
                  value: "no",
                  text: "No",
                  checked: data["primary"]["initial-pay-eligible"] | isNo
                }
              ]
            }) }}
          {% endif %}
        {% endcall %}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
