{% from "./pdf.njk" import pdf %}

{% set title %}
  <strong>{{ "Mother" if (data | isBirth) else "Adopter" }}’s</strong> notice and declaration of SPL
{% endset %}

{{ pdf({
  parent: "primary",
  title: {
    html: title
  },
  pages: [
    "./example.1.njk",
    "./example.2.njk"
  ]
}) }}
