<img src="images/beis-logo.png" alt="BEIS logo" width="114">
<h1>
  Instructions
</h1>
<p>
  These are the forms you need to complete to take Shared Parental Leave (SPL) and Statutory Shared
  Parental Pay (ShPP). If your employer has their own forms they can be used instead.
</p>
<p>
  There are 5 sections in this form. You must submit these forms to your employer at least 8 weeks before
  your Shared Parental Leave or Statutory Shared Parental Pay starts.
</p>


{% from "./layout/two-column-layout.njk" import twoColumnLayout %}
{% from "./form-items/item-numbered-input.njk" import itemNumberedInput %}
{% from "./form-items/item-signature-with-date.njk" import itemSignatureWithDate %}
{% from "./form-items/item-checkbox.njk" import itemCheckbox %}

<h4>You (the mother)</h4>

{% set left %}
  {{ itemNumberedInput({ number: 1, type: "TEXT", text: "Surname", passdown: "" }) }}
  {{ itemNumberedInput({ number: 2, type: "NINR", text: "National insurance number", passdown: "" }) }}
  {{ itemNumberedInput({ number: 3, type: "ADDR", text: "Home address", passdown: "" }) }}
{% endset %}

{% set right %}
  {{ itemNumberedInput({number: 7, type: "DATE", text: "What is the child's expected date of birth / actual date of birth?", passdown: ""}) }}
  {{ itemNumberedInput({number: 8, type: "NUMB", text: "Number of weeks", passdown: ""}) }}
{% endset %}

{{ twoColumnLayout({
  leftcolumn: left,
  rightcolumn: right
}) }}

{{ itemNumberedInput({number: 9, type: "RBLK", text: "Enter the range", passdown: [{title: {start: "SPL start date", end: "SPL end date"} }, {}, {}] }) }}
{{ itemCheckbox({text: "I had or (will have) the main responsibility for the care of the child at the time of the child’s birth (along with the father/partner who has made the declaration in Section 4).", passdown: ""}) }}
{{ itemCheckbox({text: "- Shared Parental Leave", passdown: "", noMargin: true}) }}
{{ itemCheckbox({text: "- Statutory Shared Parental Pay", passdown: ""}) }}
<br/>
{{ itemSignatureWithDate({passdown: ""}) }}