{% extends "./pdf-page.njk" %}

{% block content %}
  <img src="images/beis-logo.png" alt="BEIS logo" width="114">
  <h1>
    Instructions
  </h1>
  <p>
    These are the forms you need to complete to take Shared Parental Leave (SPL) and Statutory Shared
    Parental Pay (ShPP). If your employer has their own forms they can be used instead.
  </p>
  <p>
    There are 5 sections in this form. You must submit these forms to your employer at least 8 weeks before
    your Shared Parental Leave or Statutory Shared Parental Pay starts.
  </p>
{% endblock %}
