{% macro pdf(options) %}
  <html>
    <head>
      <meta charset="utf8">
      <link href="styles/fonts.css" rel="stylesheet">
      <link href="styles/forms.css" rel="stylesheet">
    </head>
    <body class="{{ options.parent }}">
      {% for page in options.pages %}
        <div class="page">
          <div class="content">
            {% include page %}
          </div>
          <div class="footer">
            <div class="footer-title">
              {{ options.title.html | safe }}
            </div>
            <div class="footer-page-number">
              Page {{ loop.index }} of {{ loop.length }}
            </div>
          </div>
        </div>
      {% endfor %}
    </body>
  </html>
{% endmacro %}
