{% extends "layout.njk" %}

{% block pageTitle %}Page not found - {{ service_name | capitalise }} - GOV.UK{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Page not found</h1>
        <p>
          If you typed the web address, check it is correct.
        </p>
        <p>
          If you pasted the web address, check you copied the entire address.
        </p>
        <p>
          If the web address is correct or you selected a link or button, contact ACAS.
        </p>
        <p>
          Telephone:
          <br/>
          <strong>
            0300 123 1150
          </strong>
      </p>
      <p>
        Read more about how <a href="https://www.gov.uk/shared-parental-leave-and-pay">shared parental leave and pay</a> works.
      </p>
    </div>
  </div>
{% endblock %}