@mixin remove-default-button-styling {
  background: none;
  border: 0;
  outline: none;
  box-shadow: none;
  font-family: inherit;
  cursor: pointer;
  margin: 0;
}

.button-link {
  padding: 0;

  // optional
  font-family: arial, sans-serif; //input has OS specific font-family
  text-decoration: underline;
  color: $govuk-link-colour;
  @include remove-default-button-styling;
  @include govuk-link-common;
}
