.cookie-banner {
  box-sizing: border-box;
  width: 100%;

  padding: govuk-spacing(3);
  background-color: govuk-colour("white");

  // This is overriden in JavaScript if the banner should be shown.
  display: none;

  @include govuk-media-query($media-type: print) {
    display: none !important;
  }
}
