.cookie-banner {
  box-sizing: border-box;
  width: 100%;

  padding: govuk-spacing(3);
  background-color: govuk-colour("white");

  @include govuk-media-query($media-type: print) {
    display: none !important;
  }
}

.success-message {
  border:5px;
  border-style:solid;
  border-color:#28a197;
  padding:20px;
  margin-bottom:50px;
  margin-top:16px;
}

#cookie-preference-success{
  display: none;
}
