{% from "back-link/macro.njk" import govukBackLink %}
{% from "radios/macro.njk" import govukRadios %}
{% from "button/macro.njk" import govukButton %}
{% from "table/macro.njk" import govukTable %}

{% extends "layout.njk" %}

{% block pageTitle -%}
  {{ "Accessibility statement" | pageTitle }}
{%- endblock %}

{% block beforeContent %}
  {{ super() }}

  {{ govukBackLink({
text: "Back",
href: data.backPathForHelpPages
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-xl">
        Accessibility statement for &lsquo;{{ service_name }}&rsquo;
      </h1>

      <p>This accessibility statement applies to the &lsquo;{{ service_name }}&rsquo; service.</p>
      <p>This website is run by the Department for Business and Trade (DBT). We want as many people as possible to be able to use this website. For example, that means you should be able to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>change colours, contrast levels and fonts</li>
        <li>zoom in up to 300% without the text spilling off the screen</li>
        <li>navigate most of the website using just a keyboard</li>
        <li>navigate most of the website using speech recognition software</li>
        <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
      </ul>

      <p>We’ve also made the website text as simple as possible to understand.</p>
      <p>
        <a href="https://mcmw.abilitynet.org.uk/" class="govuk-link" aria-label="AbilityNet">AbilityNet</a>
        has advice on making your device easier to use if you have a disability.</p>

      <h2 class="govuk-heading-m">How accessible is this website?</h2>
      <p>We know some parts of this website are not fully accessible:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Screen reader users may encounter incorrect heading structure and non-descriptive labels</li>
        <li>Keyboard-only users are unable to track the order in which some page elements receive focus because they are not always clearly visible</li>
        <li>Invisible elements like the cookie section are still accessible</li>
        <li>Lists are not properly coded, making them hard to interpret for screen readers</li>
        <li>Incorrect error suggestions may lead to confusion when errors occur</li>
      </ul>

      <h2 class="govuk-heading-m">Enforcement procedure</h2>
      <p>The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy with how we respond to your complaint,
        <a href="https://www.equalityadvisoryservice.com/" class="govuk-link" aria-label="contact the Equality Advisory and Support Service (EASS)">contact the Equality Advisory and Support Service (EASS)</a>.</p>

      <h2 class="govuk-heading-m">Technical information about this website’s accessibility</h2>
      <p>DBT is committed to making its websites accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>
      <p>This website is partially compliant with the
        <a href="https://www.w3.org/TR/WCAG22/" class="govuk-link" aria-label="Web Content Accessibility Guidelines version 2.2 AA standard">Web Content Accessibility Guidelines version 2.2 AA standard</a>, due to the non-compliances listed below.</p>

      <h3 class="govuk-heading-s">Non-accessible content</h3>
      <p>The content listed below is non-accessible for the following reasons.</p>

      <h3 class="govuk-heading-s">Non-compliance with the accessibility regulations</h3>
      <p>Heading structure has been organised in a way that does not relay appropriate structure to screen reader users. This fails WCAG 2.2 success criterion 1.3.1 Info and Relationships (Level A).</p>
      <p>Focus has been managed in a way that causes issues for users navigating via assistive technologies. This fails WCAG 2.2 success criterion 2.4.3 Focus Order (Level A).</p>
      <p>The cookie section is still encountered when not visibly present on the page. This fails WCAG 2.2 success criterion 2.4.3 Focus Order (Level A).</p>
      <p>Content structured visually as a list is not programmatically written as such. This fails WCAG 2.2 success criterion 1.3.1 Info and Relationships (Level A).</p>
      <p>Focus is managed in a way that is unexpected. This fails WCAG 2.2 success criterion 2.4.3 Focus Order (Level A).</p>
      <p>Optional pages are not stated clearly identified. This fails WCAG 2.2 success criterion 3.3.2 Labels or Instructions (Level A).</p>
      <p>Non-descriptive headings/labels are found when navigating the service. This fails WCAG 2.2 success criterion 2.4.6 Headings and Labels (Level AA).</p>
      <p>When an error is detected, the error suggestion provided is not relevant to the question being posed. This fails WCAG 2.2 success criterion 3.3.3 Error Suggestion (Level AA).</p>

      <h3 class="govuk-heading-s">Other identified and tracked accessibility concerns</h3>
      <p>The service includes an interactive calendar to help parents plan their leave. The calendar may not be fully accessible for users of assistive technology. There is a text-based alternative that allows all users to plan their leave.</p>

      <h3 class="govuk-heading-s">What we’re doing to improve accessibility</h3>
      <p>We are working to fix the issues described above that fail to meet the Web Content Accessibility Guidelines version 2.2 AA standard. We aim to fix them by 30 April 2025. We will update this page when issues are fixed.</p>

      <h2 class="govuk-heading-m">Preparation of this accessibility statement</h2>
      <p>This statement was prepared on 1 June 2020. It was last reviewed on 28 February 2025.</p>
      <p>This website was last tested on 19 November 2024 against the WCAG 2.2 AA standard.</p>
      <p>The test was carried out by Digital Accessibility Centre.</p>

    </div>
  </div>
{% endblock %}
