{% from "back-link/macro.njk" import govukBackLink %}
{% from "radios/macro.njk" import govukRadios %}
{% from "error-summary/macro.njk" import govukErrorSummary %}
{% from "hidden-fields/macro.njk" import appendHiddenFields %}

{% extends "layout.njk" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: backPath()
  }) }}
{% endblock %}

{% block content %}
  {% if errors["birth-or-adoption"] %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        errors["birth-or-adoption"]
      ]
    }) }}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="POST">
        {% call appendHiddenFields(data) %}
          {{ govukRadios({
            classes: "govuk-radios",
            idPrefix: "birth-or-adoption",
            name: "birth-or-adoption",
            fieldset: {
              legend: {
                text: "Are you having a child through birth or adoption?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--xl"
              }
            },
            hint: {
              text: "Shared parental leave and statutory shared parental pay are available for birth and adoptive parents."
            },
            errorMessage: {
              text: errors["birth-or-adoption"].text
            } if errors["birth-or-adoption"],
            items: [
              {
                value: "birth",
                text: "Birth",
                checked: data | isBirth
              },
              {
                value: "adoption",
                text: "Adoption",
                checked: data | isAdoption
              }
            ]
          }) }}
        {% endcall %}
        <button type="submit" class="govuk-button">
          Continue
        </button>
      </form>
    </div>
  </div>
{% endblock %}
