{% from "hidden-fields/macro.njk" import appendHiddenFields %}
{% from "button/macro.njk" import govukButton %}

{% extends "layout.njk" %}

{% block pageTitle -%}
  {{ null | pageTitle }}
{%- endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-xl">
        Plan Shared Parental Leave and Pay
      </h1>
      <p>
        Use this planner to find out:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>how to take Shared Parental Leave alongside Maternity, Adoption and Paternity Leave</li>
        <li>how many weeks of leave you and your partner can take</li>
        <li>how much statutory pay you could get while on leave</li>
        <li>when and how to give notice to your employer</li>
      </ul>
      <h2 class="govuk-heading-m">
        Before you start
      </h2>
      <p>
        You’ll need to know:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>if you, your partner or both of you are <a href="{{ eligibility_tool_root_path }}" class="govuk-link">eligible for Shared Parental Leave and Pay</a></li>
        <li>your child’s due date, birth date or placement date</li>
        <li>basic salary information for you and your partner</li>
        <li>if you are having a child through birth you need to know if the mother is eligible for <a href="https://www.gov.uk/maternity-pay-leave/eligibility" class="govuk-link">Statutory Maternity Pay</a> and if the father/partner is eligible for <a href="https://www.gov.uk/paternity-pay-leave/eligibility" class="govuk-link">Statutory Paternity Pay</a></li>
        <li>if you are having a child through adoption (including surrogacy) you need to know if the primary adopter is eligible for <a href="https://www.gov.uk/adoption-pay-leave/eligibility" class="govuk-link">Statutory Adoption Pay</a> and if the father/partner is eligible for <a href="https://www.gov.uk/paternity-pay-leave/eligibility" class="govuk-link">Statutory Paternity Pay</a></li>
      </ul>
      <form method="POST">
        {% call appendHiddenFields(data) %}{% endcall %}
        {{ govukButton({
          text: "Start now",
          classes: "govuk-button--start",
          isStartButton: true
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
