{% from "footer/macro.njk" import govukFooter %}
{% from "header/macro.njk" import govukHeader %}
{% from "phase-banner/macro.njk" import govukPhaseBanner %}

{% extends "template.njk" %}

{% block head %}
  {% include "./includes/head.njk" %}
{% endblock %}

{% block header %}
  {% include "./includes/cookie-banner.njk" %}
  {{ govukHeader({
    serviceName: service_name,
    serviceUrl: "https://www.gov.uk/plan-shared-parental-leave-pay"
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    classes: "print-hide",
    html: "This is a new service – your <a class=\"govuk-link\" href=\"/feedback\">feedback</a> will help us to improve it."
  }) }}
{% endblock %}

{% block body %}
  {% include "./includes/ga.njk" %}
  {{ block('content') }}
{% endblock %}

{% block contactUs %}

{% endblock %}

{% block footer %}
  {{
    govukFooter({
      meta: {
        items: [
          {
            href: "/cookies",
            text: 'Cookies'
          },
          {
            href: "/feedback",
            text: 'Feedback'
          },
          {
            href: "/accessibility-statement",
            text: 'Accessibility statement'
          },
          {
            href: "/privacy-notice",
            text: 'Privacy notice'
          }
        ]
      }
    })
  }}
{% endblock %}

{% block bodyEnd %}
  {% include "./includes/scripts.njk" %}
{% endblock %}
