{% from "footer/macro.njk" import govukFooter %}
{% from "header/macro.njk" import govukHeader %}

{% extends "template.njk" %}

{% block head %}
  {% include "./includes/head.njk" %}
{% endblock %}

{% block header %}
  {% include "./includes/ga-noscript.njk" %}
  {% include "./includes/cookie-banner.njk" %}
  {{ govukHeader({
    serviceName: service_name,
    serviceUrl: "https://www.gov.uk/plan-shared-parental-leave-pay"
  }) }}
{% endblock %}

{% block beforeContent %}
  {% include "./includes/phase-banner.njk" %}
{% endblock %}

{% block body %}
  {{ block('content') }}
{% endblock %}

{% block contactUs %}

{% endblock %}

{% block footer %}
  {{
    govukFooter({
      meta: {
        items: [
          {
            href: "/cookies",
            text: 'Cookies'
          },
          {
            href: "/feedback",
            text: 'Feedback'
          },
          {
            href: "/accessibility-statement",
            text: 'Accessibility statement'
          },
          {
            href: "/privacy-notice",
            text: 'Privacy notice'
          }
        ]
      }
    })
  }}
{% endblock %}

{% block bodyEnd %}
  {% include "./includes/scripts.njk" %}
{% endblock %}
