{% from "back-link/macro.njk" import govukBackLink %}
{% from "radios/macro.njk" import govukRadios %}
{% from "error-summary/macro.njk" import govukErrorSummary %}
{% from "hidden-fields/macro.njk" import appendHiddenFields %}
{% from "button/macro.njk" import govukButton %}
{% from "macro.njk" import pushToGoogleAnalyticsDataLayer %}

{% extends "layout.njk" %}

{% block pageTitle -%}
  {{ "Are you having a child through birth, adoption or surrogacy?" | pageTitle }}
{%- endblock %}

{% block beforeContent %}
  {{ super() }}

  {{ govukBackLink({
    text: "Back",
    href: backPath()
  }) }}
{% endblock %}

{% block content %}
  {% if errors["nature-of-parenthood"] %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        errors["nature-of-parenthood"]
      ]
    }) }}
    {{ pushToGoogleAnalyticsDataLayer("error_msg", errors["nature-of-parenthood"].text, "Errorshown") }}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form method="POST">
        {% call appendHiddenFields(data) %}
          {{ govukRadios({
            classes: "govuk-radios",
            idPrefix: "nature-of-parenthood",
            name: "nature-of-parenthood",
            fieldset: {
              legend: {
                text: "Are you having a child through birth, adoption or surrogacy?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              text: "Shared Parental Leave and Statutory Shared Parental Pay are available for birth, adoptive and surrogate parents."
            },
            errorMessage: {
              text: errors["nature-of-parenthood"].text
            } if errors["nature-of-parenthood"],
            items: [
              {
                value: "birth",
                text: "Birth",
                checked: data | isBirth
              },
              {
                value: "adoption",
                text: "Adoption",
                checked: data | isAdoption
              },
              {
                value: "surrogacy",
                text: "Surrogacy",
                checked: data | isSurrogacy
              }
            ]
          }) }}
        {% endcall %}
        {{ govukButton({
          text: "Continue",
          attributes: {
            "data-ga-hit-type": "nature_of_parenthood",
            "data-ga-field-event_category": "eligibility_questions",
            "data-ga-field-event_action": "nature_of_parenthood"
          }
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
