{% from "back-link/macro.njk" import govukBackLink %}
{% from "fieldset/macro.njk" import govukFieldset %}
{% from "hidden-fields/macro.njk" import appendHiddenFields %}
{% from "error-summary/macro.njk" import govukErrorSummary %}
{% from "./components/salary-input.njk" import salaryInput %}

{% extends "layout.njk" %}

{% block pageTitle %}
  Plan leave and pay when you have a child
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: backPath()
  }) }}
{% endblock %}

{% block content %}
  {% if errors["parent-salaries"] | length %}
    {{govukErrorSummary({
      titleText: "There is a problem",
      errorList: errors["parent-salaries"]
    }) }}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        What is your salary before tax?
      </h1>
      <p>
        Enter your salary to see statutory pay amounts. You might get more or less if your salary changes, has changed, or if your employer enhances pay.
      </p>
      <form action="parent-salaries" method="POST">
        {% call appendHiddenFields(data) %}
          {% call govukFieldset({
            legend: {
              text: "Salary before tax",
              classes: "govuk-fieldset__legend--m"
            }
          }) %}
            <div class="salary-group">
              {{ salaryInput({
                idPrefix: "primary",
                labelText: data | primaryName | capitalize + "’s salary (£)"
              }) }}
            </div>
            <div class="salary-group">
              {{ salaryInput({
                idPrefix: "secondary",
                labelText: data | secondaryName | capitalize + "’s salary (£)"
              }) }}

            </div>
          {% endcall %}
        {% endcall %}
        <button type="submit" class="govuk-button">
          Continue
        </button>
      </form>
      {# <a href="planner-{{data['birth-or-adoption']}}" class="govuk-link--no-visited-state govuk-body">
        Skip this step
      </a> #}
    </div>
  </div>

{% endblock %}
