{% from "back-link/macro.njk" import govukBackLink %}
{% from "fieldset/macro.njk" import govukFieldset %}
{% from "input/macro.njk" import govukInput %}
{% from "select/macro.njk" import govukSelect %}
{% from "hmcts-currency-input/macro.njk" import hmctsCurrencyInput %}
{% from "hidden-fields/macro.njk" import appendHiddenFields %}
{% from "error-summary/macro.njk" import govukErrorSummary %}

{% extends "layout.njk" %}

{% block pageTitle %}
  Plan leave and pay when you have a child
{% endblock %}

{% macro salaryInput(options) %}
  {% set salaryAmountId = options.idPrefix + "-salary-amount" %}
  {% set salaryPeriodId = options.idPrefix + "-salary-period" %}
  {% set salaryAmountError = errors["parent-salaries"] | getErrorTextByHref("#" + salaryAmountId) %}
  {% set salaryPeriodError = errors["parent-salaries"] | getErrorTextByHref("#" + salaryPeriodId) %}

  {{ hmctsCurrencyInput({
    id: salaryAmountId,
    name: salaryAmountId,
    classes: "govuk-input--width-20",
    label: {
      text: options.labelText
    },
    pattern: "[0-9]+(\.[0-9]{1,2})?",
    errorMessage: {
      text: salaryAmountError
    } if salaryAmountError,
    attributes: {
      autocomplete: "off",
      title: "Salary should be a number with no decimal point, e.g. 28750"
    },
    value: data[salaryAmountId]
  }) }}

  {{ govukSelect({
    id: salaryPeriodId,
    name: salaryPeriodId,
    label: {
      text: "Per"
    },
    errorMessage: {
      text: salaryPeriodError
    } if salaryPeriodError,
    items: [
      {
        value: "year",
        text: "Year",
        selected: data[salaryPeriodId] === "year"
      },
      {
        value: "month",
        text: "Month",
        selected: data[salaryPeriodId] === "month"
      },
      {
        value: "week",
        text: "Week",
        selected: data[salaryPeriodId] === "week"
      }
    ]
  }) }}
{% endmacro %}

{% block content %}
  {% if errors["parent-salaries"] | length %}
    {{govukErrorSummary({
      titleText: "There is a problem",
      errorList: errors["parent-salaries"]
    }) }}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        What is your salary before tax?
      </h1>
      <p>
        Enter your salary to see statutory pay amounts. You might get more or less if your salary changes, has changed, or if your employer enhances pay.
      </p>
      <form action="parent-salaries" method="POST">
        {% call appendHiddenFields(data) %}
          {% call govukFieldset({
            legend: {
              text: "Salary before tax",
              classes: "govuk-fieldset__legend--m"
            }
          }) %}
            <div class="salary-group">
              {{ salaryInput({
                idPrefix: "primary",
                labelText: data | primaryName | capitalize + "’s salary (£)"
              }) }}
            </div>
            <div class="salary-group">
              {{ salaryInput({
                idPrefix: "secondary",
                labelText: data | secondaryName | capitalize + "’s salary (£)"
              }) }}

            </div>
          {% endcall %}
        {% endcall %}
        <button type="submit" class="govuk-button">
          Continue
        </button>
      </form>
      {# <a href="planner-{{data['birth-or-adoption']}}" class="govuk-link--no-visited-state govuk-body">
        Skip this step
      </a> #}
    </div>
  </div>

{% endblock %}
