{% from "back-link/macro.njk" import govukBackLink %}
{% from "fieldset/macro.njk" import govukFieldset %}
{% from "hidden-fields/macro.njk" import appendHiddenFields %}
{% from "error-summary/macro.njk" import govukErrorSummary %}
{% from "./components/salary-input.njk" import salaryInput %}
{% from "button/macro.njk" import govukButton %}
{% from "macro.njk" import pushToGoogleAnalyticsDataLayer %}

{% extends "layout.njk" %}

{% block pageTitle -%}
  {{ "What is your salary before tax?" | pageTitle }}
{%- endblock %}

{% block beforeContent %}
  {{ super() }}

  {{ govukBackLink({
    text: "Back",
    href: backPath()
  }) }}
{% endblock %}

{% block content %}
  {% if errors["skip-this-question"] or
        errors["primary-salary-amount"] or
        errors["secondary-salary-amount"] or
        errors["primary-salary-period"] or
        errors["secondary-salary-period"]
  %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        errors["skip-this-question"],
        errors["primary-salary-amount"],
        errors["secondary-salary-amount"],
        errors["primary-salary-period"],
        errors["secondary-salary-period"]
      ] | removeEmpty
    }) }}
    {% if errors["skip-this-question"] %}
      {{ pushToGoogleAnalyticsDataLayer("error_msg", errors["skip-this-question"].text, "Errorshown") }}
    {% endif %}
    {% if errors["primary-salary-amount"] %}
      {{ pushToGoogleAnalyticsDataLayer("error_msg", errors["primary-salary-amount"].text, "Errorshown") }}
    {% endif %}
    {% if errors["secondary-salary-amount"] %}
      {{ pushToGoogleAnalyticsDataLayer("error_msg", errors["secondary-salary-amount"].text, "Errorshown") }}
    {% endif %}
    {% if errors["primary-salary-period"] %}
      {{ pushToGoogleAnalyticsDataLayer("error_msg", errors["primary-salary-period"].text, "Errorshown") }}
    {% endif %}
    {% if errors["secondary-salary-period"] %}
      {{ pushToGoogleAnalyticsDataLayer("error_msg", errors["secondary-salary-period"].text, "Errorshown") }}
    {% endif %}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-xl">
        What is your salary before tax?
      </h1>
      <p>
        Enter your salary to see statutory pay amounts.
        These are just to give you an idea of what you could get.
        Your employer can confirm what your exact pay will be.
      </p>
      {#
        hmcts currencyInput component used in salaryInput has a pattern attribute which cannot be set to null.
        novalidate attribute in this form overrides this.
      #}
      <form action="parent-salaries" method="POST" novalidate>
        {% call appendHiddenFields(data) %}
            <div class="salary-group">
              <fieldset class="govuk-grid-row govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  {{ data | primaryName | capitalize }}’s salary before tax (£)
                </legend>
              {{ salaryInput({
                data: data,
                parent: "primary",
                labelText: "Amount (£)",
                amountError: errors["primary-salary-amount"] if errors["primary-salary-amount"],
                periodError: errors["primary-salary-period"] if errors["primary-salary-period"]
              }) }}
              </fieldset>
            </div>
            <div class="salary-group">
              <fieldset class="govuk-grid-row govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  {{ data | secondaryName | capitalize }}’s salary before tax
                </legend>
              {{ salaryInput({
                data: data,
                parent: "secondary",
                labelText: "Amount (£)",
                amountError: errors["secondary-salary-amount"] if errors["secondary-salary-amount"],
                periodError: errors["secondary-salary-period"] if errors["secondary-salary-period"]
              }) }}
              </fieldset>
            </div>
        {% endcall %}
        {{ govukButton({
          text: "Continue",
          attributes: {
            "data-ga-hit-type": "pay_entered",
            "data-ga-field-event_category": "planner_questions",
            "data-ga-field-event_action": "pay_entered"
          }
        }) }}
      </form>
      <a
        id="skip-this-question"
        href="{{ withData('/planner') }}"
        class="govuk-link--no-visited-state govuk-body"
        data-ga-hit-type="pay_skipped"
        data-ga-field-event_category="planner_questions"
        data-ga-field-event_action="pay_skipped"
      >
        Skip this question
      </a>
    </div>
  </div>

{% endblock %}
