{% from "back-link/macro.njk" import govukBackLink %}
{% from "button/macro.njk" import govukButton %}
{% from "details/macro.njk" import govukDetails %}
{% from "error-summary/macro.njk" import govukErrorSummary %}
{% from "input/macro.njk" import govukInput %}
{% from "hidden-fields/macro.njk" import appendHiddenFields %}
{% from "inset-text/macro.njk" import govukInsetText %}
{% from "components/calendar.njk" import calendar %}
{% from "macro.njk" import pushToGoogleAnalyticsDataLayer %}

{% extends "layout.njk" %}

{% block pageTitle -%}
  {{ "Create your plan" | pageTitle }}
{%- endblock %}

{% block beforeContent %}
  {{ super() }}

  {{ govukBackLink({
    text: "Back",
    href: backPath()
  }) }}
{% endblock %}

{% set isBirth = (data | isBirth) %}
{% set isAdoption = (data | isAdoption) %}
{% set isUkAdoption = (data | isUkAdoption) %}
{% set isOverseasAdoption = (data | isOverseasAdoption) %}
{% set isSurrogacy = (data | isSurrogacy) %}
{% set birthOrPlacement = (data | birthOrPlacement) %}
{% set primaryName = (data | primaryName) %}
{% set primaryLeaveType = (data | primaryLeaveType) %}

{% block content %}
  {% if (errors | hasCalendarError) %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        errors["calendar.shared.no-interaction"],
        errors["calendar.secondary.too-many-paternity-leave-weeks"],
        errors["calendar.shared.too-many-leave-weeks"],
        errors["calendar.shared.too-many-pay-weeks"],
        errors["calendar.primary.pay-without-leave"],
        errors["calendar.secondary.pay-without-leave"],
        errors["calendar.primary.leave-break-before-end-of-compulsory-leave"],
        errors["calendar.primary.pay-break-before-end-of-compulsory-leave"],
        errors["calendar.primary.not-taking-compulsory-leave"],
        errors["calendar.primary.not-taking-enough-adoption-leave"],
        errors["calendar.primary.not-taking-first-week-of-adoption-leave"],
        errors["calendar.primary.not-taking-overseas-adoption-leave-in-first-28-days"],
        errors["calendar.primary.too-early"],
        errors["calendar.secondary.too-early"],
        errors["calendar.primary.too-late"],
        errors["calendar.secondary.too-late"]
      ] | removeEmpty
    }) }}

    {% set errorMessages = errors | errorMessages %}
    {% for message in errorMessages %}
      {{ pushToGoogleAnalyticsDataLayer("error_msg", message, "Errorshown") }}
    {% endfor %}
  {% endif %}
  <div class="govuk-grid-row js-show">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-l">
        Plan shared parental leave and pay
      </h1>
      <p class="print-hide">
        Use this calendar to plan how you'll take shared leave and pay. Alternatively, you can plan by  <a href="/planner/maternity-leave/start">answering questions</a>.
      </p>
      <p class="print-hide">
        To add and remove weeks, click on the leave columns. To choose paid or unpaid weeks, click on the pay columns.
      </p>
      <p class="print-hide">
        All leave weeks start on a Monday, you can choose a different day to start your leave when you give notice to your employer.
      </p>

      {% set examples %}
        <span class="govuk-hint">
          Examples will open in a new page.
        </span>
        {% set examplePath = "/planner/examples/" + data["nature-of-parenthood"] %}
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a class="govuk-link" target="_blank" href="{{ examplePath }}/managing-parenting-and-work">
              partner takes leave and {{ primaryName }} returns to work
            </a>
          </li>
          <li>
            <a class="govuk-link" target="_blank" href="{{ examplePath }}/extending-time-as-a-family">
              partner takes extended leave after {{ "placement" if isAdoption else "birth" }}
            </a>
          </li>
          <li>
            <a class="govuk-link" target="_blank" href="{{ examplePath }}/sharing-primary-care-responsibility">
              sharing multiple blocks of leave
            </a>
          </li>
        </ul>
      {% endset %}

      {{ govukDetails({
        summaryText: "Examples of shared parental leave and pay plans",
        html: examples,
        classes: "print-hide"
      }) }}
    </div>
  </div>
  <form id="leave-and-pay" method="POST">
    <div class="govuk-grid-row print-hide js-hide">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        <h1 class="govuk-heading-l">
          Plan shared parental leave and pay
        </h1>
        <p>
          You must have JavaScript enabled to use the interactive leave and pay calendar, but you can still
          <a href="/planner/maternity-leave/start">
            plan your leave by answering questions
          </a>.
        </p>
      </div>
    </div>
    {% call appendHiddenFields(data) %}
      {{ calendar(data) }}
    {% endcall %}
    <div class="govuk-grid-row print-hide js-show">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        <h2 class="govuk-heading-m">
          Next steps
        </h2>
        <p>
          If your plan is complete, continue for a summary of key dates and pay, and guidance on how to notify your employer.
        </p>
        {{ govukButton({
          text: "Continue"
        }) }}
      </div>
    </div>
  </form>
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  <script>
    window.planner.init({{ data | dump | safe }}, true)
    window.analytics.planner()
  </script>
{% endblock %}
