{% from "back-link/macro.njk" import govukBackLink %}
{% from "button/macro.njk" import govukButton %}
{% from "details/macro.njk" import govukDetails %}
{% from "hidden-fields/macro.njk" import appendHiddenFields %}
{% from "components/calendar.njk" import calendar %}

{% extends "layout.njk" %}

{% block beforeContent %}
  {{ super() }}

  {{ govukBackLink({
    text: "Back",
    href: backPath()
  }) }}
{% endblock %}

{% set isBirth = (data | isBirth) %}
{% set primaryName = (data | primaryName) %}
{% set primaryLeaveType = (data | primaryLeaveType) %}
{% set STATUTORY_MAXIMUM_PAY = "£" + STATUTORY_MAXIMUM_PAY %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-xl">
        Plan shared parental leave and pay
      </h1>
      <p>
        Use this calendar to plan <a href="https://www.gov.uk/shared-parental-leave-and-pay">shared parental leave and pay</a>
        alongside <a href="https://www.gov.uk/{{ primaryLeaveType }}-pay-leave">{{ primaryLeaveType }}</a> and <a href="https://www.gov.uk/paternity-pay-leave">paternity</a> leave and pay.
        The calendar is based on {{ "your child’s birth week" if isBirth else "the week your child starts living with you"}}.
      </p>
      <p>
        Click in the calendar to select each week you and your partner want to take as leave.
      </p>
      <p>
        If you’re taking more than 37 weeks of leave, you can also select which leave weeks are paid and unpaid. The statutory pay amount is indicative only.
      </p>

      {% set policyInfo %}
        <p>If you’re using the visual layout, these rules are built into the calendar.</p>
        <h2 class="govuk-heading-s">
          How many weeks of leave and pay parents can take
        </h2>
        <p>
          Shared parental leave and pay is created from unused {{ primaryLeaveType }} leave and pay.
          The {{ primaryName }} must take 2 weeks of {{ primaryLeaveType }} leave and pay straight
          after the child’s {{ "birth" if isBirth else "placement"}}.
        </p>
        <p>
          This leaves 50 weeks of leave and 37 weeks of statutory pay for parents to split between them.
        </p>
        <p>
          The partner can take two weeks of paternity leave in addition to this.
        </p>
        <h2 class="govuk-heading-s">
          How much pay can you get
        </h2>
        <p>
          The {{ primaryName }} will receive 90% of their average weekly earnings for the first 6 weeks of
          statutory {{ primaryLeaveType }} pay, then {{ STATUTORY_MAXIMUM_PAY }} per week or 90% of their
          average weekly earnings, whichever is lower.
        </p>
        <p>
          The parent claiming statutory shared parental pay will receive {{ STATUTORY_MAXIMUM_PAY }} per week,
          or 90% of their average weekly earnings, whichever is lower.
        </p>
        <p>
          If the partner is claiming statutory paternity pay, they will receive {{ STATUTORY_MAXIMUM_PAY }} per week,
          or 90% of their average weekly earnings, whichever is lower.
        </p>
        <h2 class="govuk-heading-s">
          When can you start
        </h2>
        <p>
          The {{ primaryName }} can start {{ primaryLeaveType }} leave up to {{ "11" if isBirth else "2" }}
          weeks before the week of {{ "birth" if isBirth else "placement"}}.
        </p>
        <p>
          The partner can start shared parental leave and pay while the {{ primaryName }} is on {{ primaryLeaveType }}
          leave and pay, but only after the child is {{ "born" if isBirth else "placed" }}.
        </p>
        <p>
          Both the {{ primaryName }} and the partner can take shared parental leave in blocks,
          either at the same time or one after the other.
        </p>
      {% endset %}

      {% set examples %}
        <span class="govuk-hint">
          Examples will open in a new page.
        </span>
        {% set examplePath = "/planner/examples/birth" if isBirth else "/planner/examples/adoption" %}
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a class="govuk-link" target="_blank" href="{{ examplePath }}/managing-parenting-and-work">
              Managing parenting and work
            </a>
          </li>
          <li>
            <a class="govuk-link" target="_blank" href="{{ examplePath }}/extending-time-as-a-family">
              Extending time as a family after {{ "birth" if isBirth else "your child is placed" }}
            </a>
          </li>
          <li>
            <a class="govuk-link" target="_blank" href="{{ examplePath }}/sharing-primary-care-responsibility">
              Sharing primary care responsibility
            </a>
          </li>
        </ul>
      {% endset %}

      {{ govukDetails({
        summaryText: "How shared parental, " + primaryLeaveType + " and paternity leave and pay work",
        html: policyInfo
      }) }}

      {{ govukDetails({
        summaryText: "Examples of shared parental leave and pay plans",
        html: examples
      }) }}
    </div>
  </div>
  <form id="leave-and-pay" method="POST">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        <h2 class="govuk-heading-m">
          Your plan
        </h2>
        <p>
          Create your own leave plan in this calendar.
        </p>
      </div>
    </div>
    {% call appendHiddenFields(data) %}
      {{ calendar(data) }}
    {% endcall %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        <p>
          If your plan is complete, continue for a summary of key dates and guidance on
          how to notify your employer.
        </p>
        {{ govukButton({
          text: "Continue"
        }) }}
      </div>
    </div>
  </form>
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  <script>
    window.planner.init({{ data | dump | safe }}, true)
    window.analytics.trackFirstCalendarUsage()
  </script>
{% endblock %}
