{% from "back-link/macro.njk" import govukBackLink %}
{% from "date-input/macro.njk" import govukDateInput %}
{% from "error-summary/macro.njk" import govukErrorSummary %}
{% from "hidden-fields/macro.njk" import appendHiddenFields %}
{% from "button/macro.njk" import govukButton %}
{% from "macro.njk" import pushToGoogleAnalyticsDataLayer %}

{% extends "layout.njk" %}

{% set questionText %}
  {% if data | isBirth or data | isSurrogacy -%}
    When is the baby due, or when was the baby born?
  {%- elif data | isAdoption -%}
    When will, or when did the child start to live with you?
  {%- endif %}
{% endset %}

{% block pageTitle -%}
  {{ questionText | pageTitle }}
{%- endblock %}

{% block beforeContent %}
  {{ super() }}

  {{ govukBackLink({
    text: "Back",
    href: backPath()
  }) }}
{% endblock %}

{% block content %}

  {% if errors["start-date"] %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        errors["start-date"]
      ]
    }) }}
    {% if errors["start-date"] %}
      {{ pushToGoogleAnalyticsDataLayer("error_msg", errors["start-date"].text, "Errorshown") }}
    {% endif %}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form method="POST">
        {% call appendHiddenFields(data) %}
          {{ govukDateInput({
            id: "start-date",
            namePrefix: "start-date",
            fieldset: {
              legend: {
                text: questionText,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              text: "For example " + null | exampleDate
            },
            errorMessage: errors["start-date"],
            items: [
              {
                name: "day",
                classes: "govuk-input--width-2"  + (" govuk-input--error" if errors | hasStartDateError("day")),
                value: data["start-date-day"]
              },
              {
                name: "month",
                classes: "govuk-input--width-2"  + (" govuk-input--error" if errors | hasStartDateError("month")),
                value: data["start-date-month"]
              },
              {
                name: "year",
                classes: "govuk-input--width-4"  + (" govuk-input--error" if errors | hasStartDateError("year")),
                value: data["start-date-year"]
              }
            ]
          }) }}
        {% endcall %}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
