{% from "back-link/macro.njk" import govukBackLink %}
{% from "tabs/macro.njk" import govukTabs %}

{% extends "layout.njk" %}
{% block pageTitle -%}
  {{ "Leave and pay summaries" | pageTitle }}
{%- endblock %}

{% block beforeContent %}
  {{ super() }}

  {{ govukBackLink({
    text: "Back",
    href: backPath()
  }) }}
{% endblock %}

{% block content %}
  {% set paySummary %}
    {% include "./tabs/pay-summary.njk" %}
  {% endset %}
  {% set leaveSummary %}
    {% include "./tabs/leave-summary.njk" %}
  {% endset %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-xl">
        Plan shared parental leave and pay
      </h1>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div id="summary-tabs-container" class="govuk-grid-column-full">
      {{ govukTabs({
        items: [
          {
            label: "Leave summary",
            class: "print-hide",
            id: "leave-summary",
            panel: {
              html: leaveSummary
            },
            attributes: {
              "data-ga-hit-type": "leave_tab_clicked",
              "data-ga-field-event_category": "summary",
              "data-ga-field-event_action": "leave_tab_clicked"
            }
          },
          {
            label: "Pay summary",
            id: "pay-summary",
            panel: {
              html: paySummary
            },
            attributes: {
              "data-ga-hit-type": "pay_tab_clicked",
              "data-ga-field-event_category": "summary",
              "data-ga-field-event_action": "pay_tab_clicked"
            }
          }
        ]
      }) }}
    </div>
  </div>
{% endblock %}