{% from "back-link/macro.njk" import govukBackLink %}
{% from "tabs/macro.njk" import govukTabs %}
{% from "macro.njk" import pushToGoogleAnalyticsDataLayer %}
{% from "components/summary-tab-footer.njk" import summaryTabFooter %}

{% extends "layout.njk" %}
{% block pageTitle -%}
  {{ "Leave and pay summaries" | pageTitle }}
{%- endblock %}

{% block beforeContent %}
  {{ super() }}

  {{ govukBackLink({
    text: "Back",
    href: backPath()
  }) }}
{% endblock %}

{% block content %}
  {% set paySummary %}
    {% include "./tabs/pay-summary.njk" %}
  {% endset %}
  {% set leaveSummary %}
    {% include "./tabs/leave-summary.njk" %}
  {% endset %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-l">
        Plan shared parental leave and pay
      </h1>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div id="summary-tabs-container" class="govuk-grid-column-full">
      {{ govukTabs({
        items: [
          {
            label: "Leave summary",
            class: "print-hide",
            id: "leave-summary",
            panel: {
              html: leaveSummary
            },
            attributes: {
              "data-ga-hit-type": "leave_tab_clicked",
              "data-ga-field-event_category": "summary",
              "data-ga-field-event_action": "leave_tab_clicked"
            }
          },
          {
            label: "Pay summary",
            id: "pay-summary",
            panel: {
              html: paySummary
            },
            attributes: {
              "data-ga-hit-type": "pay_tab_clicked",
              "data-ga-field-event_category": "summary",
              "data-ga-field-event_action": "pay_tab_clicked"
            }
          }
        ]
      }) }}
      {% if data["visualPlanner"] %}
        {{ pushToGoogleAnalyticsDataLayer("parenthood_type", data["nature-of-parenthood"], "visualplanner") }}
        {{ pushToGoogleAnalyticsDataLayer("visualplanner_timestamp", plannerJourneyTime, "mainPlanner_timestamp") }}
      {% else %}
        {{ pushToGoogleAnalyticsDataLayer("parenthood_type", data["nature-of-parenthood"], "questionplanner") }}
        {{ pushToGoogleAnalyticsDataLayer("questionplanner_timestamp", plannerJourneyTime, "secondaryPlanner_timestamp") }}
      {% endif %}
      {{ pushToGoogleAnalyticsDataLayer("spljourney_timestamp", totalJourneyTime, "spl_timestamp") }}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
          <h2 class="govuk-heading-l">
            Next steps
          </h2>
          <ul class="govuk-body">
            <li>
              discuss and agree your preferred leave dates with your partner
            </li>
            <li>
              use the forms on this page for you and your partner to notify and agree your leave
              dates with your employers
            </li>
          </ul>
          {{ summaryTabFooter({
          shareLinkId: 'pay-summary-share-link'
          }) }}
          <h3 class="govuk-heading-m">
            Changing your plan
          </h3>
          <p>
            If you want to change your dates, you’ll need to <a href="{{backPath()}}">update your plan</a>.
          </p>
          <h4 class="govuk-heading-s">
            Help us improve this service
          </h4>
          <p class="govuk-body">
            <a href="/feedback" class="govuk-link">What did you think of this service?</a> (takes 30
            seconds)
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block bodyEnd %}
  {{ super() }}

  <script>
    window.summary.init({{ data | dump | safe }})
    window.analytics.summary()
  </script>
{% endblock %}
