{% from "../layout/document.njk" import document %}
{% from "../layout/two-column-layout.njk" import twoColumnLayout %}
{% from "../layout/section-title.njk" import sectionTitle %}
{% from "../form-items/item-numbered-input.njk" import itemNumberedInput %}
{% from "../form-items/item-signature-with-date.njk" import itemSignatureWithDate %}
{% from "../form-items/item-checkbox.njk" import itemCheckbox %}
{% from "../input-fields/field-range.njk" import fieldRange %}
{% from "../input-fields/field-number.njk" import fieldNumber %}

{% set title %}
  <strong>{{ "Mother" if (data | isBirth) else "Adopter" }}’s</strong> notice and declaration of SPL
{% endset %}

{% set page1 %}
  <img src="images/beis-logo.png" alt="BEIS logo" width="114">
  <h1>
    Instructions
  </h1>
  <p>
    These are the forms you need to complete to take Shared Parental Leave (SPL) and Statutory Shared
    Parental Pay (ShPP). If your employer has their own forms they can be used instead.
  </p>
  <p>
    There are 5 sections in this form. You must submit these forms to your employer at least 8 weeks before
    your Shared Parental Leave or Statutory Shared Parental Pay starts.
  </p>
  <p>1. Mother’s notice of entitlement and intention</p>
  <p>2. Mother’s notice to curtail maternity entitlement</p>
  <p>3. Mother’s declaration to employer</p>
  <p>4. Partner’s declaration to mother’s employer</p>
  <p>5. Period of leave notice</p>

  {{ sectionTitle({text: "Section 1 of 5: Mother’s notice of entitlement and intention"}) }}
  <h3>About the family</h3>
  <h4>You (the mother)</h4>

  {% set left %}
    {{ itemNumberedInput({ number: 1, type: "TEXT", text: "Surname", passdown: "" }) }}
    {{ itemNumberedInput({ number: 2, type: "TEXT", text: "First name(s)", passdown: "" }) }}
    {{ itemNumberedInput({ number: 3, type: "NINR", text: "National insurance number", passdown: "" }) }}
    {{ itemNumberedInput({ number: 4, type: "ADDR", text: "Home address", passdown: "" }) }}
    <h4>Partner</h4>
    {{ itemNumberedInput({ number: 5, type: "TEXT", text: "Surname", passdown: "" }) }}
  {% endset %}

  {% set right %}
    {{ itemNumberedInput({number: 6, type: "TEXT", text: "First name(s)", passdown: ""}) }}
    {{ itemNumberedInput({number: 7, type: "NINR", text: "National insurance number", passdown: ""}) }}
    {{ itemNumberedInput({number: 8, type: "ADDR", text: "Home address", passdown: ""}) }}
    <h4>Child</h4>
    {{ itemNumberedInput({number: 9, type: "DATE", text: "What is the child's expected date of birth / actual date of birth?", passdown: ""}) }}
  {% endset %}

  {{ twoColumnLayout({
    leftcolumn: left,
    rightcolumn: right
  }) }}
{% endset %}

{% set page2 %}
  {{ sectionTitle({text: "Section 1 of 5: Mother’s notice of entitlement and intention"}) }}

  {% set left %}
    <h4>Maternity Leave</h4>
    {{ itemNumberedInput({ number: 10, type: "DATE", text: "Date maternity leave will start", passdown: "" }) }}
    {{ itemNumberedInput({ number: 11, type: "DATE", text: "Date maternity leave will end", passdown: "" }) }}
    {{ itemNumberedInput({ number: 12, type: "NUMB", text: "Number of weeks of maternity leave left at the date maternity leave will end", passdown: "" }) }}
    <h4>Shared Parental Leave</h4>
    {{ itemNumberedInput({ number: 13, type: "NUMB", text: "Number of weeks of shared parental leave available", passdown: "" }) }}
    {{ itemNumberedInput({ number: 14, type: "NUMB", text: "Number of weeks of shared parental leave the mother intends to take", passdown: "" }) }}
    {{ itemNumberedInput({ number: 15, type: "NUMB", text: "Number of weeks of shared parental leave the partner intends to take (if any)", passdown: "" }) }}
  {% endset %}

  {% set right %}
    <h4>Statutory Maternity Pay</h4>
    {{ itemNumberedInput({ number: 16, type: "DATE", text: "Date maternity pay will start", passdown: "" }) }}
    {{ itemNumberedInput({ number: 17, type: "DATE", text: "Date maternity pay will end", passdown: "" }) }}
    {{ itemNumberedInput({ number: 18, type: "NUMB", text: "Number of weeks of statutory maternity pay left at the date maternity pay will end", passdown: "" }) }}
    <h4>Statutory Shared Parental Pay</h4>
    {{ itemNumberedInput({ number: 19, type: "NUMB", text: "Number of weeks of shared parental pay available", passdown: "" }) }}
    {{ itemNumberedInput({ number: 20, type: "NUMB", text: "Number of weeks of shared parental pay the mother intends to take", passdown: "" }) }}
    {{ itemNumberedInput({ number: 21, type: "NUMB", text: "Number of weeks of shared parental pay the partner intends to take (if any)", passdown: "" }) }}
  {% endset %}

  {{ twoColumnLayout({
    leftcolumn: left,
    rightcolumn: right
  }) }}
{% endset %}

{% set page3 %}
  {{ sectionTitle({text: "Section 1 of 5: Mother’s notice of entitlement and intention"}) }}
  
  <h4>Indication of when you intend to take Shared Parental Leave (SPL)</h4>
  {{ itemNumberedInput({ 
    number: 22, 
    type: "RBLK", 
    text: "At the date of this notice I intend to take Shared Parental Leave between the following dates:", 
    passdown: 
      [{
        title: { start: "SPL start date", end: "SPL end date" }
      },
      {}, {}, {}, {}, {}]
    }) }}

  <h4>Indication of when you intend to take Statutory Shared Parental Pay (SHPP)</h4>
  {{ itemNumberedInput({ 
    number: 22, 
    type: "RBLK", 
    text: "At the date of this notice I intend to take Statutory Shared Parental Pay between the following dates:", 
    passdown: 
      [{
        title: { start: "ShPP start date", end: "ShPP end date" }
      },
      {}, {}, {}, {}, {}]
    }) }}
{% endset %}

{% set page4 %}
  {{ sectionTitle({text: "Section 2 of 5: Mother’s notice to curtail maternity entitlement"}) }}

  {{ itemNumberedInput({ number: 1, type: "TEXT", text: "Mother's name", passdown: "" }) }}
  <h4>Maternity Leave curtailment notice:</h4>
  {{ itemNumberedInput({ number: 1, type: "DATE", text: "I would like my ML to end on:", passdown: "" }) }}
  <h4>Statutory Maternity Pay curtailment notice:</h4>
  {{ itemNumberedInput({ number: 1, type: "DATE", text: "I would like my SMP to end on:", passdown: "" }) }}

  <p>
    I have given notice of my/the father’s/partner’s entitlement to and intention to take <br/>
    Shared Parental Leave and/or Statutory Shared Parental Pay  in the Notice of <br/>
    Entitlement and Intention.
  </p>

  <h4>Notice to employer:</h4>
  <p>
    Please accept this as my notice to curtail my Maternity Leave and/or my Statutory Maternity <br/>
    Pay. Notice of Entitlement and Intention to Shared Parental Leave and/or Statutory Shared <br/>
     Parental Pay is set out in Section 1 of this document.
  </p>
  <p>
    I understand that my Maternity Leave and/or Statutory Maternity Pay will end on the dates <br/>
    that I have given above.
  </p>
  <p>
    I understand that I can only reinstate my Maternity Leave or Statutory Maternity Pay if I <br/>
    revoke (withdraw) this notice before these dates. 
  </p>
  <p>
    I confirm that the information provided in this notice is correct.
  </p>

  <h4>Mother's signature</h4>
  {{ itemSignatureWithDate({passdown: ""}) }}
{% endset %}

{% set page5 %}
  {{ sectionTitle({text: "Section 3 of 5: Mother’s declaration to employer"}) }}
  
  <p>I am giving notice that I am entitled to and intend to take:</p>
  {{ itemCheckbox({text: "- Shared Parental Leave", passdown: "", noMargin: true}) }}
  {{ itemCheckbox({text: "- Statutory Shared Parental Pay", passdown: ""}) }}
  {{ itemCheckbox({text: "I had or (will have) the main responsibility for the care of the child at the time of the child’s birth (along with the father/partner who has made the declaration in Section 4). ", passdown: ""}) }}
  {{ itemCheckbox({text: "I am eligible for and intend to take Shared Parental Leave", passdown: ""}) }}
  {{ itemCheckbox({text: "I am eligible for and intend to take Statutory Shared Parental Pay.", passdown: ""}) }}
  {{ itemCheckbox({text: "I will be caring for my child during the weeks that I am on Shared Parental Leave. ", passdown: ""}) }}
  {{ itemCheckbox({text: "I will provide additional evidence to my employer (on request) if my employer asks for this within 14 days of the date of this notice. ", passdown: ""}) }}
  {{ itemCheckbox({text: "I will inform my employer immediately if my circumstances change and I cease to care for my child.", passdown: ""}) }}
  {{ itemCheckbox({text: "I will inform my employer immediately if I withdraw or change my ‘Maternity Leave Curtailment Notice’ and/or my ‘Maternity Pay Curtailment Notice’ (Section 5).", passdown: ""}) }}
  {{ itemCheckbox({text: "I will inform my employer immediately if I cease to be eligible for Shared Parental Leave and/or Statutory Shared Parental Pay for some other reason.", passdown: ""}) }}
  {{ itemCheckbox({text: "I confirm that the information provided in my Notice of Entitlement and Intention (Section 1) and in the Mother’s Declaration (this section) is correct.", passdown: ""}) }}

  <h4>Mother's signature</h4>
  {{ itemSignatureWithDate({passdown: ""}) }}
{% endset %}

{% set page6 %}
  {{ sectionTitle({text: "Section 4 of 5: Partner’s declaration to mother’s employer"}) }}
  
  {{ itemCheckbox({text: "I had (or will have) the main responsibility for the care of the child at the time of the child’s birth (along with the child’s mother).", passdown: ""}) }}
  {{ itemCheckbox({text: "I am the father of the child and/or at the date of the child’s birth I was (or will be) the mother’s: spouse; civil partner; or a partner living with the mother and her child in an enduring family relationship.", passdown: ""}) }}
  {{ itemCheckbox({text: "I have read and comply with the conditions that apply to the father/partner where the mother is planning to take Shared Parental Leave and/or Statutory Shared Parental Pay.", passdown: ""}) }}
  {{ itemCheckbox({text: "I consent to the mother taking the period or periods of Shared Parental Leave and/or Statutory Shared Parental Pay  that she has indicated in Section 1.", passdown: ""}) }}
  {{ itemCheckbox({text: "I consent to the mother’s employer processing the information about me provided in the Mother’s Notice of Entitlement and Intention (see Section 1) and in the Father’s/Partner’s Declaration (see Section 3). ", passdown: ""}) }}
  {{ itemCheckbox({text: "I confirm that the information provided in the Father’s/Partner’s Declaration (this section) is correct.", passdown: ""}) }}

  <h4>Partner's signature</h4>
  {{ itemSignatureWithDate({passdown: ""}) }}
{% endset %}

{% set page7 %}
  {{ sectionTitle({text: "Section 5 of 5: Period of Leave Notice "}) }}

  <p>
    • Use this Period of Leave notice form to give binding notice to take Shared Parental Leave (SPL) <br/> 
    8 weeks before your leave starts. <br/>
    • You can amend your start and end dates, or book another period of leave by submiting <br/>
    another Period of Leave Notice. <br/>
    <strong>• You can submit up to 3 Period of Leave Notices in total, more if your employer allows.</strong>
  </p>

  <h4>Period of leave:</h4>
  {{ fieldRange({ title: { start: "SPL start date", end: "SPL end date" } }) }}

  <p><strong>If you do not know your exact start and end dates, complete the sentence below:</strong></p>
  <p>I will take {{ fieldNumber({}) }} weeks of Shared Parental Leave. It will start {{ fieldNumber({}) }} weeks after my Maternity Leave ends.</p>

  <h4>Notice to employer:</h4>
  <p>
    Please accept this as a binding notice to take Shared Parental Leave on the dates specified <br/>
    above.
  </p>

  <h4>Mother's signature</h4>
  {{ itemSignatureWithDate({passdown: ""}) }}
{% endset %}

{{ document({
  parent: "primary",
  title: {
    html: title
  },
  pages: [
    page1,
    page2,
    page3,
    page4,
    page5,
    page6,
    page7
  ]
}) }}
