html, body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 12px;
  box-sizing: border-box;
}

.page {
  zoom: calc(16/12);
  position: relative;
  height: 100%;
  width: 100%;
  display: block;
  page-break-after: auto;
  overflow: hidden;
  padding: 30px;
  box-sizing: border-box;
}

.footer {
  background-color: lightgreen;
  position: absolute;
  bottom: 30px;
  left: 30px;
  right: 30px;
}

.footer .footer-title {
  position: absolute;
  bottom: 0;
  left: 0;
}

.footer .footer-page-number {
  position: absolute;
  bottom: 0;
  right: 0;
}

h1 {
  font-weight: 600;
  font-size: 20px;
}

p {
  margin: 0.5rem 0;
}

.primary h1,
.primary h2,
.primary h3,
.primary h4,
.primary h5,
.primary h6 {
  color: #005192;
}

.secondary h1,
.secondary h2,
.secondary h3,
.secondary h4,
.secondary h5,
.secondary h6 {
  color: #005192;
}

.input-field {
  border: 1px solid darkgray;
}

.two-column-layout .input-field {
  width: 100%;
}

.digit-field {
  width: 14px !important;
}

.number-array table {
  border-collapse: collapse;
}

.number-array td {
  width: 14px;
  height: 18px;
  padding: 0;
}

.number-array td {
  border: 1px solid darkgray;
}

.number-array .number-break {
  width: 10px;
  border-top: none !important;
  border-bottom: none !important;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
}

.number-box {
  border: 1px solid darkgray;
  border-left: none;
  width: 16px;
  height: 17px;
  text-align: right;
  padding-right: 3px;
}

.field-address .input-field {
  margin: 0;
}

.input {
  border-left: 1px solid darkgray;
  padding-bottom: 10px;
  padding-right: 19px;
}

.input p {
  margin-top: 0;
}