{% from "back-link/macro.njk" import govukBackLink %}
{% from "radios/macro.njk" import govukRadios %}
{% from "character-count/macro.njk" import govukCharacterCount %}
{% from "button/macro.njk" import govukButton %}

{% extends "layout.njk" %}

{% block pageTitle -%}
  {{ "Feedback" | pageTitle }}
{%- endblock %}

{% block beforeContent %}
  {{ super() }}

  {{ govukBackLink({
    text: "Back",
    href: withData(referrer)
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-xl">
        Give Feedback
      </h1>
      <form action="/feedback" method="post">
        {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "feedback",
          name: "feedback",
          fieldset: {
            legend: {
              text: "What was your experience of the service",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "very satisfactory",
              text: "Very Satisfactory"
            },
            {
              value: "satisfactory",
              text: "Satisfactory"
            },
            {
              value: "neither satisfactory or dissatisfactory",
              text: "Neither Satisfactory or Dissatisfactory"
            },
            {
              value: "dissatisfactory",
              text: "Dissatisfactory"
            },
            {
              value: "very dissatisfactory",
              text: "Very Dissatisfactory"
            }
          ]
        }) }}

        {{ govukCharacterCount({
          id: "feedback-more-detail",
          name: "feedback-more-detail",
          maxlength: 1200,
          hint: {
            text: "Do not include any personal or financial information, for example your National Insurance or credit card numbers."
          },
          label: {
            text: "How can we improve this service?",
            classes: "govuk-label--m",
            isPageHeading: true
          }
        }) }}
        {{ govukButton({
          text: "Send Feedback",
          preventDoubleClick: true
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
